<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/intro/splash.jpg`)})`}">
    <section class="filter">
      <div class="container">
        <div class="character-title">
          <h1>KEY CHARACTERS’ PROFILE</h1>
          <h2>MOUSE OVER EACH CHARACTER CARD TO FIND OUT MORE ABOUT THEM.</h2>
        </div>

        <div class="character-cards flip-container">
          <div class="flipping-action" v-for="character in characters">
            <div class="flipper">
              <div class="character-front" @mouseover="onMouseOver">
                <img :src="character.image" alt="">
                <div class="character-name">
                  <h1>{{ character.short }}</h1>
                </div>
              </div>

              <div class="character-back column">
                <h1 class="has-text-centered">{{ character.name }}</h1>
                <h2 class="has-text-centered">{{ character.title }}</h2>
                <p>{{ character.description }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="diamond-blue">
          <button class="button button-blue is-next" @click="goNext"><span>❀</span></button>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
  export default {
    name: 'character',
    data () {
      return {
        characters: [
          {
            id: 1,
            name: 'Connor Treewalker',
            short: 'Connor',
            title: 'Ruler of the Great Tree',
            image: require('@/assets/images/prince-connor/connor-optimistic.png'),
            description: 'Prince Connor Treewalker is days away from his coronation as Monarch of the Apes, having inherited the kingdom after the demise of his father, the great King Cerco Treewalker. He has already assumed the responsibilities of King, but was not prepared for the great conflict brewing in Terrafauna\'s watering hole.'
          },
          {
            id: 2,
            name: 'Milo',
            short: 'Milo',
            title: 'Advisor to Prince Connor Treewalker',
            image: require(`@/assets/images/milo/milo-clearthroat.png`),
            description: 'Milo spent his entire life serving in the court of King Cerco Treewalker, and continues to advise the young Prince Connor Treewalker after the King\'s demise. He believes in the balance of the jungle, and that every animal is equal and should be given the chance to realise their potential.'
          },
          {
            id: 3,
            name: 'Lance',
            short: 'Lance',
            title: 'Advisor to Prince Connor Treewalker',
            image: require(`@/assets/images/lance/lance-default.png`),
            description: 'Lance is young, bold, hotheaded and brash, but not stupidly so. He believes in asserting ape dominance in Terrafauna. He wants apes to be seen as a force to be reckoned with among the animals. The watering hole conflict with the tigers gave him the opportunity to share his beliefs with Prince Connor.'
          },
          {
            id: 4,
            short: 'Cayenne',
            name: 'Cayenne Shadowfur',
            title: 'Queen of Tigers',
            image: require(`@/assets/images/tigeress/tigeress-default.png`),
            description: 'Queen Cayenne is a strong, independent tigress, having risen to power in a male-dominated society. The increasing tiger population means she has had to procure, by whatever means, a large share of the watering hole.'
          }
        ],
        storyPage: 0
      }
    },
    methods: {
      playSoundEffect (path) {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      onMouseOver () {
        const soundEffect = document.getElementById('story-sound-effect')
        soundEffect.src = require(`@/assets/audio/cardflip.mp3`)
        soundEffect.load()

        soundEffect.play()
      },
      playClick () {
        this.playSoundEffect(require(`@/assets/audio/click.mp3`))
      },
      goNext () {
        this.playClick()

        this.$router.push('/story1')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $red: rgba(151, 4, 12, 1);
  $black: rgba(28, 32, 34, 1);
  $yellow: rgba(240, 193, 67, 1);
  $blue: rgba(37, 71, 85, 1);
  $orange: rgba(178, 95, 26, 1);
  $white: #f2e6c6;

  $amatic-bold: 'amatic sc bold', sans-serif;
  $amatic-regular: 'amatic sc regular', sans-serif;
  $indie-flower: 'indie flower', sans-serif;

  @media only screen and (min-width: 1480px) {
    .character-back {
      p {
        font-size: 1.1em !important;
      }
    }
  }

  .section {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .character-title {
    padding: 2% 0;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h1 {
      margin-top: -2%;
      font-family: $amatic-bold;
      font-size: 3.5em;
      line-height: 105%;
    }

    h2 {
      font-family: $amatic-regular;
      font-size: 3em;
      margin-bottom: -1%;
      line-height: 110%;
    }
  }

  .flipping-action {
    &:hover {

      .flipper {
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        transform: rotateY(180deg);
      }
    }
  }

  .character-cards {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 1.33%;

    .character-front {
      backface-visibility: hidden;
      border: 1.5px solid $yellow;
      position: relative;
      z-index: 2;
      height: 65vh;

      .character-name {
        position: absolute;
        display: flex;
        justify-content: space-around;
        bottom: 0;
        background-color: rgba(28, 32, 34, 0.87);
        width: 100%;
        font-family: $amatic-bold;
        font-size: 3em;
        color: $yellow;
      }
    }

    .character-back {
      backface-visibility: hidden;
      border: 1.5px solid $yellow;
      height: 100%;
      width: 100%;
      font-family: $amatic-bold;
      color: $yellow;
      transform: rotateY(180deg);
      background-color: rgba(28, 32, 34, 0.87);

      h1 {
        font-size: 2.5em;
        line-height: 100%;
      }
      h2 {
        font-size: 1.8em;
        color: $orange;
        line-height: 100%;
      }
      p {
        text-align: center;
        padding: 2% 2% 0;
        font-family: $indie-flower;
        line-height: 130%;
        font-size: 1.5em;
      }
    }
  }

  .character-front, .character-back {
    position: absolute;
    top: 0;
    left: 0;
  }

  .diamond-blue {
    margin: 2% auto;
  }
</style>
