<template>
    <section class="section" v-if="storyCounter === 0">
        <section class="filter-paragraph" :style="{ backgroundImage: `url(${require(`@/assets/${getBackground}`)})` }">
            <div class="paragraph">
                <div class="paragraph-images" :class="animation">
                    <transition :enter-active-class="animateCenter">
                        <div v-if="paraUp" :key="paragraphCounter" class="paragraph-center-img">
                            <img v-if="paraUp[3] !== 0" :src="characters[paraUp[2]][paraUp[3]]"/>
                        </div>
                    </transition>

                    <transition :enter-active-class="animateLeft">
                        <div v-if="paraUp" :key="paragraphCounter" class="paragraph-left-img">
                            <img v-if="paraUp[1] !== 0" :src="characters[paraUp[0]][paraUp[1]]"/>
                        </div>
                    </transition>

                    <transition :enter-active-class="animateRight">
                        <div v-if="paraUp" :key="paragraphCounter" class="paragraph-right-img">
                            <img v-if="paraUp[5] !== 0" :src="characters[paraUp[4]][paraUp[5]]"/>
                        </div>
                    </transition>
                </div>

                <div class="paragraph-mode">
                    <div class="five-years-text">
                        <p>{{ scripts[storyCounter].paragraphs[paragraphCounter].five }}</p>
                    </div>

                    <div class="paragraph-text">
                        <p>{{ scripts[storyCounter].paragraphs[paragraphCounter].paragraph }}</p>
                    </div>

                    <div class="paragraph-buttons">
                        <div class="diamond-blue back-button"
                             v-if="paragraphCounter <= maxParagraphCounter && paragraphCounter !== 0">
                            <button class="button button-blue" @click="backParagraph"><span>➟</span></button>
                        </div>

                        <div class="diamond-blue forward-button" v-if="paragraphCounter < maxParagraphCounter">
                            <button class="button button-blue" @click="nextParagraph"><span>➟</span></button>
                        </div>

                        <div class="diamond-blue forward-button" v-else>
                            <button class="button button-blue" @click="nextSpeech"><span>❀</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>

    <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/${getBackground}`)})` }"
             v-else-if="clusterIndex < 2 && storyCounter !== 0">
        <section class="filter">
            <div class="story-filter">
            </div>
            <div class="container">

                <div class="is-story" :class="storyAnimation">
                    <div class="story-left">
                        <div class="story-one" :class="isActive">
                            <transition :enter-active-class="animateStoryOne">
                                <div :key="storyCounter">
                                    <img v-if="lineup[1] > 0" :src="characters[lineup[0]][lineup[1]]"/>
                                </div>
                            </transition>
                        </div>

                        <div class="story-two" :class="isActive">
                            <transition :enter-active-class="animateStoryTwo">
                                <div :key="storyCounter">
                                    <img v-if="lineup[3] > 0" :src="characters[lineup[2]][lineup[3]]"/>
                                </div>
                            </transition>
                        </div>
                    </div>

                    <div class="story-right">
                        <div class="story-three" :class="isActive">
                            <transition :enter-active-class="animateStoryThree">
                                <div :key="storyCounter">
                                    <img v-if="lineup[5] > 0" :key="lineup[5]"
                                         :src="characters[lineup[4]][lineup[5]]"/>
                                </div>
                            </transition>
                        </div>

                        <div class="story-four" :class="isActive">
                            <transition :enter-active-class="animateStoryFour">
                                <div :key="storyCounter">
                                    <img v-if="lineup[7] > 0" :src="characters[lineup[6]][lineup[7]]"/>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>

                <div class="speech-banner">
                    <img :src="require(`@/assets/banner/test-banner-one.png`)" class="banner-bg" alt=""/>

                    <div class="speech-everything">
                        <div class="speech-bubble" v-if="scripts[storyCounter].speech">
                            <div class="speech-name" v-if="scripts[storyCounter].name">
                                <h1>{{ scripts[storyCounter].name }}</h1>
                            </div>

                            <div class="speech-text has-text-centered">
                                <p>" {{ scripts[storyCounter].speech }} "</p>
                            </div>

                            <div class="speech-event has-text-centered">
                                <p>{{ scripts[storyCounter].event }}</p>
                            </div>
                        </div>

                        <div class="speech-bubble" v-else>
                            <div class="speech-name" v-if="scripts[storyCounter].name">
                                <h1>{{ scripts[storyCounter].name }}</h1>
                            </div>

                            <div class="speech-event-only has-text-centered">
                                <p>{{ scripts[storyCounter].event }}</p>
                            </div>
                        </div>

                        <div class="story-buttons">
                            <div class="story-forward-back-buttons">
                                <div class="diamond-blue back-button">
                                    <button class="button button-blue" @click="backSpeech"><span>➟</span></button>
                                </div>

                                <div class="diamond-blue forward-button" v-if="storyCounter < scripts.length - 1">
                                    <button class="button button-blue" @click="nextSpeech"><span>➟</span></button>
                                </div>

                                <div class="diamond-blue forward-button" v-else>
                                    <button class="button button-blue" @click="gotoQuestion"><span>❀</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>

    <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/${getBackground}`)})` }" v-else>
        <div class="container end-page">

            <div class="ending">
                <div id="restart" class="diamond-blue">
                    <button class="button button-blue" @click="restartGame">
                        <span>The End <br/> Play Again ?</span>
                    </button>
                </div>
            </div>

        </div>
    </section>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'component-story',
    props: {
      scripts: Array
    },
    data () {
      return {
        paragraphCounter: 0,
        maxParagraphCounter: 0,
        storyCounter: 0,
        paraUp: [],
        lineup: [],
        rightSideName: null,
        isDialogue: false,
        isSwitchBg: false,
        isFiveYears: false,
        isActive: '',
        animateLeft: '',
        animateRight: '',
        animateCenter: '',
        animateStoryOne: '',
        animateStoryTwo: '',
        animateStoryThree: '',
        animateStoryFour: ''
      }
    },
    mounted () {
      this.maxParagraphCounter = this.scripts[0].paragraphs.length - 1
      this.playBackgroundMusic(this.selectedScript.backgroundMusic)
    },
    computed: {
      ...mapState(['characters', 'clusterIndex', 'animations']),
      selectedScript () {
        return this.scripts[this.storyCounter]
      },
      selectedScriptParagraph () {
        return this.selectedScript.paragraphs[this.paragraphCounter]
      },
      getBackground () {
        let background = this.scripts[0].background

        if (this.isFiveYears === true) background = this.scripts[0].timeBackground

        if (this.isDialogue === true) background = this.scripts[0].storyBackground

        if (this.isSwitchBg === true) background = this.scripts[0].backgroundTwo

        this.$store.commit('setQuestionBackground', background)

        return background
      },
      animation () {
        this.isFiveYears = this.selectedScriptParagraph.isFiveYears
        this.paraUp = this.selectedScriptParagraph.paraUp
        this.isSwitchBg = this.selectedScriptParagraph.bgSwitch
        this.animateLeft = this.animations[this.selectedScriptParagraph.paraAnimation[0]]
        this.animateCenter = this.animations[this.selectedScriptParagraph.paraAnimation[1]]
        this.animateRight = this.animations[this.selectedScriptParagraph.paraAnimation[2]]
      },
      storyAnimation () {
        this.lineup = this.selectedScript.lineup
        this.isActive = this.selectedScript.isActive
        this.animateStoryOne = this.animations[this.selectedScript.storyAnimations[0]]
        this.animateStoryTwo = this.animations[this.selectedScript.storyAnimations[1]]
        this.animateStoryThree = this.animations[this.selectedScript.storyAnimations[2]]
        this.animateStoryFour = this.animations[this.selectedScript.storyAnimations[3]]
      }
    },
    methods: {
      playBackgroundMusic (path) {
        const backgroundMusic = document.getElementById('background-music')
        backgroundMusic.src = path
        backgroundMusic.load()

        backgroundMusic.play()
      },
      playSoundEffect (path) {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      playStorySound (path) {
        const soundEffect = document.getElementById('story-sound-effect')
        soundEffect.src = path
        soundEffect.load()

        soundEffect.play()
      },
      playClick () {
        this.playSoundEffect(require(`@/assets/audio/click.mp3`))
      },
      playOtherClick () {
        this.playSoundEffect(require(`@/assets/audio/click2.mp3`))
      },
      gotoQuestion () {
        this.playClick()
        switch (this.clusterIndex) {
          case 0 :
            this.$store.commit('setInitialQuestionFalse')
            this.$router.push('/questionTwo')
            break
          case 1 :
            this.$store.commit('setInitialQuestionFalse')
            this.$router.push('/questionTwo')
            break
          default:
            this.$router.push('/questionOne')
            break
        }
      },
      backSpeech () {
        this.playOtherClick()
        this.storyCounter--

        if (this.storyCounter === 0) this.isDialogue = false
      },
      nextSpeech () {
        if (this.storyCounter === 0) {
          this.playClick()
          this.playBackgroundMusic(this.selectedScript.backgroundMusic)
        } else {
          this.playOtherClick()
        }
        this.isDialogue = true
        this.isSwitchBg = false
        this.storyCounter++
      },
      nextParagraph () {
        this.paraUp = this.selectedScriptParagraph.paraUp
        this.paragraphCounter++
        this.playOtherClick()

        if (this.selectedScriptParagraph.soundEffect) {
          this.playStorySound(this.selectedScriptParagraph.soundEffect)
        }

        if (this.selectedScriptParagraph.backgroundMusic) {
          this.playBackgroundMusic(this.selectedScriptParagraph.backgroundMusic)
        }
      },
      backParagraph () {
        this.playOtherClick()

        this.paragraphCounter--
      },
      restartGame () {
        const audios = document.querySelectorAll('audio')
        audios.forEach(audio => {
          audio.pause()
        })

        this.playClick()
        this.$store.commit('resetGame')
        this.$router.push('/')

        window.location.reload()
      }
    }
  }
</script>

<style lang="scss" scoped>
    $amatic-bold: 'amatic sc bold', sans-serif;
    $amatic-regular: 'amatic sc regular', sans-serif;
    $indie-flower: 'indie flower', sans-serif;
    $gill: 'gill sans', sans-serif;

    $red: rgba(151, 4, 12, 1);
    $black: rgba(28, 32, 34, 1);
    $yellow: rgba(240, 193, 67, 1);
    $blue: rgba(37, 71, 85, 1);
    $orange: rgba(178, 95, 26, 1);
    $white: #f2e6c6;
    $lightblue: #bcc8cd;

    section {
        background-position: center;
        background-size: cover;
        min-height: 100vh;
        padding: 0;
        overflow: hidden;
    }

    .filter {
        background-color: rgba(37, 71, 85, 0.65);
    }

    .story-filter {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background-color: rgba(37, 71, 85, 0.8);
        z-index: 2;
    }

    .end-page {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 90vh;

        #restart {
            margin-right: 5vw;
            height: 13vw;
            width: 13vw;
            font-size: 1.6em;
            border: 1.5px solid $yellow;
            opacity: 0.8;

            &:hover {
                border: 1.5px solid $blue;
                opacity: 1;
            }

            .button-blue {
                padding: 0;
                height: 11vw;
                width: 11vw;
                border: 1.5px solid $yellow;

                &:hover {
                    border: 1.5px solid $blue;
                }
            }

        }
    }

    .paragraph {
        display: grid;
        grid-template-columns: 55% 45%;
    }

    .paragraph-images {
        position: relative;

        .paragraph-left-img, .paragraph-center-img, .paragraph-right-img {
            position: absolute;
            bottom: -10%;
            width: 50%;
        }
        .paragraph-left-img {
            left: -10%;

            img {
                transform: scaleX(-1);
            }
        }
        .paragraph-center-img {
            right: 20%;
        }
        .paragraph-right-img {
            right: -14%;
        }
    }

    .paragraph-mode {
        height: 100vh;
        position: relative;

        .five-years-text {
            font-family: $indie-flower;
            font-size: 4em;
            font-weight: bold;
            letter-spacing: 5px;
            color: $black;
            position: absolute;
            top: 30%;
            left: -50%;
        }

        .paragraph-text {
            padding: 2% 3% 0 10%;
            white-space: pre-line;
            font-family: $gill;
            font-size: calc(1vw + 1vh + .4vmin);
            line-height: 108%;
            color: $black;
        }

        .paragraph-buttons {

            .diamond-blue {
                margin: 0 auto;
            }

            .forward-button {
                position: absolute;
                bottom: 5%;
                right: 15%;
            }

            .back-button {
                position: absolute;
                bottom: 5%;
                left: 15%;

                span {
                    transform: rotate(45deg);
                }
            }
        }
    }

    .speech-banner {
        position: relative;
        z-index: 50;

        img {
            width: 90%
        }

        .banner-bg {
            position: absolute;
            height: 27vh;
            bottom: 7vh;
            left: 5vw;
        }

        .speech-everything {
            position: relative;

            .story-buttons {

                .story-forward-back-buttons {
                    width: 100%;
                    position: absolute;
                    bottom: 15vh;
                    display: grid;
                    grid-template-columns: 50% 50%;

                    .forward-button {
                        position: absolute;
                        right: 7%;
                    }

                    .back-button {
                        position: absolute;
                        left: 7%;
                        span {
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            .speech-bubble {
                position: absolute;
                height: 25vh;
                width: 100%;
                font-family: $indie-flower;
                color: $yellow;
                bottom: 5vh;

                .speech-name {
                    display: flex;

                    h1 {
                        text-decoration: underline;
                        text-decoration-color: $orange;
                        margin: 0 auto;
                        font-size: 2.3em;
                        line-height: 100%;
                    }
                }
                .speech-text {
                    margin: 1% auto;
                    padding: 0 11%;

                    p {
                        font-size: 1.5em;
                        line-height: 100%;
                    }

                }
                .speech-event, .speech-event-only {
                    margin: 0.5% 10% 0 15%;

                    p {
                        color: $lightblue;
                        font-size: 1.3em;
                        line-height: 100%;
                    }
                }
                .speech-event-only {
                    margin: 5% 10% 0 15%;
                }
            }
        }
    }

    .is-story {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 100vh;

        img {
            width: 60%;
            position: absolute;
            top: 15vh;
            z-index: 1;
        }

        .story-left {

            .story-one {
                position: relative;

                img {
                    transform: scaleX(-1);
                }

                &.activeOne {
                    animation: scaleOne 1s forwards;
                }

                &.activeOneR {
                    animation: scaleOneR 1s forwards;
                }
            }
            .story-two {
                position: relative;

                img {
                    transform: scaleX(-1);
                    left: 25%;
                }

                &.activeTwo {
                    -webkit-animation: scaleTwo 1s forwards;
                    -moz-animation: scaleTwo 1s forwards;
                    -o-animation: scaleTwo 1s forwards;
                    animation: scaleTwo 1s forwards;
                }

                &.activeTwoR {
                    -webkit-animation: scaleTwoR 1s forwards;
                    -moz-animation: scaleTwoR 1s forwards;
                    -o-animation: scaleTwoR 1s forwards;
                    animation: scaleTwoR 1s forwards;
                }
            }
        }
        .story-right {

            .story-three {
                position: relative;

                img {
                    right: 25%;
                }

                &.activeThree {
                    animation: scaleThree 1s forwards;
                }

                &.activeThreeR {
                    animation: scaleThreeR 1s forwards;
                }
            }

            .story-four {
                position: relative;

                img {
                    right: 0;
                }

                &.activeFour {
                    animation: scaleFour 1s forwards;
                }

                &.activeFourR {
                    animation: scaleFourR 1s forwards;
                }
            }
        }
    }

    @keyframes scaleOne {
        0% {
            transform: scale(1.0);
        }
        100% {
            z-index: 10;
            transform: scale(1.5) translate(13vw, -14vh);
        }
    }

    @keyframes scaleOneR {
        0% {
            z-index: 10;
            transform: scale(1.5) translate(13vw, -14vh);
        }
        100% {
            transform: scale(1.0);
        }
    }

    @keyframes scaleTwo {
        0% {
            transform: scale(1.0);
        }
        100% {
            z-index: 10;
            transform: scale(1.5) translate(3vw, -14vh);
        }
    }

    @keyframes scaleTwoR {
        0% {
            z-index: 10;
            transform: scale(1.5) translate(3vw, -14vh);
        }
        100% {
            transform: scale(1.0);
        }
    }

    @keyframes scaleThree {
        0% {
            transform: scale(1.0);
        }
        100% {
            z-index: 10;
            transform: scale(1.5) translate(-2vw, -14vh);
        }
    }

    @keyframes scaleThreeR {
        0% {
            z-index: 10;
            transform: scale(1.5) translate(-2vw, -14vh);
        }
        100% {
            transform: scale(1.0);
        }
    }

    @keyframes scaleFour {
        0% {
            transform: scale(1.0);
        }
        100% {
            z-index: 10;
            transform: scale(1.5) translate(-12vw, -14vh);
        }
    }

    @keyframes scaleFourR {
        0% {
            z-index: 10;
            transform: scale(1.5) translate(-12vw, -14vh);
        }
        100% {
            transform: scale(1.0);
        }
    }

    .diamond-blue {
        height: 3vw;
        width: 3vw;
        border: 1px solid $yellow;

        .button-blue {
            padding: 0;
            height: 2.3vw;
            width: 2.3vw;
            font-size: 1.4em;
        }
        &:hover {
            border-color: $blue;
        }
    }
</style>
