<template>
  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/intro/splash.jpg`)})`}"
           v-if="storyCounter === 0">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <div class="story-title is-uppercase">
            <h2>Welcome</h2>
            <h3>to</h3>
            <h1>Terrafauna</h1>
          </div>

          <div class="diamond-blue">
            <button class="button button-blue start-button" @click="startApp"><span>❀</span></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/intro/splash.jpg`)})`}" v-else>
    <div class="filter">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column has-text-centered">
            <div class="story-title second-page">
              <h4>“In the shadows of diplomacy there live many wild beasts.”</h4>
            </div>

            <div class="diamond-blue">
              <button class="button button-blue start-button" @click="startApp"><span>➟</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'Introduction',
    data () {
      return {
        storyCounter: 0
      }
    },
    mounted () {
    },
    methods: {
      playClick () {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = require(`@/assets/audio/click.mp3`)
        soundEffect.load()

        soundEffect.play()
      },
      startApp () {
        this.playClick()

        this.storyCounter++

        if (this.storyCounter >= 2) this.$router.push('/character')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $red: rgba(151, 4, 12, 1);
  $black: rgba(28, 32, 34, 1);
  $orange: rgba(178, 95, 26, 1);
  $white: #f2e6c6;

  $amatic-bold: 'amatic sc bold', sans-serif;
  $amatic-regular: 'amatic sc regular', sans-serif;
  $indie-flower: 'indie flower', sans-serif;

  .section {
    background-size: cover;
    height: 100vh;
    padding: 0;
  }

  .container {
    height: 100vh;
  }

  .columns {
    height: 100%;
  }

  .diamond-blue {
    margin: 0 auto;
  }

  .story-title {
    margin: 5% 0 5%;

    h2 {
      font-family: $amatic-bold;
      color: $red;
      font-size: 5em;
      line-height: 100%;
    }

    h3 {
      font-family: $amatic-bold;
      color: $black;
      font-size: 3em;
    }

    h1 {
      font-family: $amatic-bold;
      color: $orange;
      font-size: 8em;
      line-height: 80%;
    }

    h4 {
      color: $white;
      font-family: $amatic-bold;
      font-size: 3em;
    }
  }
</style>
