<template>
    <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/intro/splash.jpg`)})`}">
        <section class="filter">
            <div class="container">

                <div class="question-page-one has-text-centered" v-if="!this.isQuiz">
                    <!--choice page-->
                    <div class="question-page-one-buttons">
                        <div :class="choice.id === 1 ? 'choice-one' : 'choice-two'"
                             v-for="choice in initialQuestion.choices">
                            <button class="question-page-one-choice button-yellow" @click="confirmPool"
                                    :data-choice="choice.id">
                                {{choice.text}}
                            </button>
                        </div>

                        <div class="question-page-one-button">
                            <div class="diamond-blue" v-if="quizId">
                                <button class="button button-blue" @click="setSelectedPool"><span>❀</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="question-page-one-image">
                        <img id="image" :src="require(`@/assets/closeup/closeupquestion.png`)" alt="">
                        <img id="banner" :src="require(`@/assets/banner/test-banner-one.png`)" alt="">
                    </div>
                </div>

                <div class="question-body has-text-centered" v-else>
                    <!--questions page-->
                    <div v-if="!isFeedBack">
                        <div class="pre-question" v-if="!isChoice">
                            <div class="pre-question-title">
                                <h1>{{initialQuestion.choices[quizId - 1].text}}</h1>
                            </div>

                            <div class="pre-question-image">
                                <img :src="require(`@/assets/closeup/closeupquestion.png`)" alt="">
                            </div>

                            <div class="pre-question-event">
                                <p>{{currentMCQ.event}}</p>
                                <div class="diamond-blue">
                                    <button class="button button-blue" @click="setChoice"><span>➟</span></button>
                                </div>
                            </div>
                        </div>

                        <div class="question" v-else>
                            <h1>{{initialQuestion.choices[currentMCQ.id - 1].text}}</h1>
                            <div class="has-text-left question-text">
                                <h2 class="question-bold"> Question : </h2>
                                <br>
                                <h2 v-html="currentMCQ.question"></h2>
                            </div>

                            <div class="question-buttons has-text-left columns is-vcentered">
                                <div class="column" v-for="choice in currentMCQ.choices">
                                    <div class="button-black question-button" @click="checkMCQ"
                                         :data-choice="choice.correct">
                                        {{ choice.option}} )
                                        <br>
                                        {{ choice.text }}
                                    </div>
                                </div>
                            </div>

                            <div class="diamond-blue" v-if="isFeedBackButton">
                                <button class="button button-blue" @click="showFeedBack"><span>➟</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--feedback page-->
                    <div class="feedback" v-else>
                        <div class="feedback-title">
                            <h1 v-if="isReaction !== 1" style="border-bottom: 3px solid greenyellow"> correct </h1>
                            <h1 v-else style="border-bottom: 3px solid red">incorrect</h1>
                        </div>

                        <div class="reaction">
                            <p>{{currentMCQ.reactions[isReaction].react}}</p>
                        </div>

                        <div class="feedback-box columns is-vcentered">
                            <div class="column">
                                <h1 class="is-uppercase">feedback</h1>
                                <p>{{currentMCQ.feedback}}</p>
                            </div>
                        </div>

                        <div class="diamond-blue">
                            <button class="button button-blue" @click="goToRoute"><span>❀</span></button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'questionOne',
    data () {
      return {
        isQuiz: false,
        isChoice: false,
        isFeedback: false,
        quizId: null,
        pool: '',
        isFeedBackButton: false,
        isFeedBack: false,
        isReaction: null,
        nextQuizQuestion: null,
        answer: null
      }
    },
    mounted () {
      const backgroundMusic = document.getElementById('background-music')
      backgroundMusic.src = require(`@/assets/audio/forest.mp3`)
      backgroundMusic.load()

      backgroundMusic.play()
    },
    computed: {
      ...mapState(['clusterIndex', 'isInitialQuestion', 'questionPool', 'isFinalQuestion']),
      ...mapGetters({initialQuestion: 'initialQuestion'}),
      currentMCQ () {
        let currentMCQ
        currentMCQ = this.initialQuestion.MCQ[this.quizId - 1]
        return currentMCQ
      }
    },
    methods: {
      async playSoundEffect (path) {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = path
        await soundEffect.load()

        await soundEffect.play()
      },
      async playClick () {
        await this.playSoundEffect(require(`@/assets/audio/click.mp3`))
      },
      async playOtherClick () {
        await this.playSoundEffect(require(`@/assets/audio/click2.mp3`))
      },
      confirmPool (ev) {
        this.playOtherClick()
        this.quizId = Number(ev.target.dataset.choice)

        const choices = this.$el.querySelectorAll('.question-page-one-choice')

        choices.forEach(choice => {
          choice.classList.remove('selected')
        })

        ev.target.classList.add('selected')
      },
      setSelectedPool () {
        this.playClick()

        if (this.quizId === 1) {
          this.pool = 'A'
        } else {
          this.pool = 'B'
        }
        this.$store.commit('setClusterIndex', 0)
        this.isQuiz = true
      },
      setChoice () {
        this.playOtherClick()
        this.isChoice = true
      },
      checkMCQ (ev) {
        this.playOtherClick()

        let answer = ev.target.dataset.choice
        const boxes = this.$el.querySelectorAll('.question-button')

        boxes.forEach(box => {
          box.classList.remove('selectedBox')
        })
        ev.target.classList.add('selectedBox')

        if (answer) {
          this.isReaction = 0
          this.nextQuizQuestion = this.quizId
          this.routingTo = this.initialQuestion.routes[this.quizId - 1].route
        } else if (!answer && this.quizId === 2) {
          this.isReaction = 1
          this.nextQuizQuestion = 1
          this.pool = 'A'
          this.routingTo = this.initialQuestion.routes[this.quizId - 2].route
        } else {
          this.isReaction = 1
          this.nextQuizQuestion = 2
          this.pool = 'B'
          this.routingTo = this.initialQuestion.routes[this.quizId].route
        }
        this.isFeedBackButton = true
      },
      showFeedBack () {
        this.playOtherClick()
        this.isFeedBack = true
      },
      goToRoute () {
        this.playOtherClick()

        this.$store.commit('setQuestionPool', this.pool)
        this.$router.push(`${this.routingTo}`)
      }
    }
  }
</script>
<style lang="scss" scoped>
    .section {
        background-size: cover;
        background-position: center;
        padding: 0;
        height: 100vh;
    }

    .question-buttons {
        grid-template-columns: 33% 33% 33%;
        grid-row-gap: 1vh;
        grid-column-gap: 2%;
    }
</style>