<template>
    <section class="section" :style="{ backgroundImage: `url(${require(`@/assets/${getBackground}`)})` }">
        <section class="filter">

            <div class="container">

                <div class="question-page-one has-text-centered" v-if="!this.isQuiz">
                    <!--choice page-->
                    <div class="question-page-one-buttons">
                        <div :class="choice.id === 1 ? 'choice-one' : 'choice-two'"
                             v-for="choice in currentQuestion.choices">
                            <button class="question-page-one-choice button-yellow" @click="setQuiz"
                                    :data-choice="choice.id"> {{ choice.text }}
                            </button>
                        </div>

                        <div class="question-page-one-button">
                            <div class="diamond-blue" v-if="quizId">
                                <button class="button button-blue" @click="openQuiz"><span>❀</span></button>
                            </div>
                        </div>
                    </div>

                    <div class="question-page-one-image">
                        <img id="image" :src="require(`@/assets/closeup/closeupquestion.png`)" alt="">
                        <img id="banner" :src="require(`@/assets/banner/test-banner-one.png`)" alt="">
                    </div>
                </div>

                <div class="question-body has-text-centered" v-else>
                    <!--questions page-->
                    <div v-if="!isFeedBack">
                        <div class="pre-question" v-if="!isChoice">
                            <div class="pre-question-title">
                                <h1>{{currentQuestion.choices[quizId - 1].text}}</h1>
                            </div>

                            <div class="pre-question-image">
                                <img :src="require(`@/assets/closeup/closeupquestion.png`)" alt="">
                            </div>

                            <div class="pre-question-event">
                                <p>{{currentMCQ.event}}</p>
                                <div class="diamond-blue">
                                    <button class="button button-blue" @click="setChoice"><span>➟</span></button>
                                </div>
                            </div>
                        </div>

                        <div class="question" v-else>
                            <h1>{{currentQuestion.choices[quizId - 1].text}}</h1>
                            <div class="has-text-left question-text">
                                <h2 class="question-bold">Question : </h2>
                                <br>
                                <h2 v-html="currentMCQ.question"></h2>
                            </div>
                            <div class="question-buttons has-text-left columns is-vcentered" v-bind:style="styling">
                                <div class="column" v-for="choice in currentMCQ.choices">
                                    <div class="button-black question-button" @click="checkMCQ"
                                         :data-choice="choice.correct">
                                        {{ choice.option}} )
                                        <br>
                                        {{ choice.text }}
                                    </div>
                                </div>
                            </div>

                            <div class="diamond-blue" v-if="isFeedBackButton">
                                <button class="button button-blue is-uppercase" @click="showFeedBack"><span>➟</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!--feedback page-->
                    <div class="feedback" v-else>
                        <div class="feedback-title">
                            <h1 v-if="isReaction !== 1" style="border-bottom: 3px solid greenyellow"> correct </h1>
                            <h1 v-else style="border-bottom: 3px solid red">incorrect</h1>
                        </div>

                        <div class="reaction">
                            <p>{{currentMCQ.reactions[isReaction].react}}</p>
                        </div>

                        <div class="feedback-box">
                            <h1 class="is-uppercase">feedback</h1>
                            <p>{{currentMCQ.feedback}}</p>
                        </div>

                        <div class="diamond-blue">
                            <button class="button button-blue" @click="goToRoute"><span>❀</span></button>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'questionTwo',
    data () {
      return {
        isQuiz: false,
        isChoice: false,
        isFeedback: false,
        quizId: 0,
        isFeedBackButton: false,
        isFeedBack: false,
        isReaction: null,
        nextQuizQuestion: null,
        styling: '',
        gridTwo: {
          gridTemplateColumns: '49% 49%',
          gridColumnGap: '2%'
        },
        gridThree: {
          gridTemplateColumns: '33% 33% 33%',
          gridRowGap: '1vh',
          gridColumnGap: '2%'
        },
        gridFour: {
          gridTemplateColumns: '49% 49%',
          gridRowGap: '1vh',
          gridColumnGap: '2%'
        }
      }
    },
    mounted () {
      const backgroundMusic = document.getElementById('background-music')
      backgroundMusic.src = require(`@/assets/audio/forest.mp3`)
      backgroundMusic.load()

      backgroundMusic.play()
    },
    computed: {
      ...mapState(['clusterIndex', 'selectedChoiceId', 'questionPool', 'questionBackground', 'isFinalQuestion']),
      ...mapGetters({
        question: 'getQuestionsFromSelectedPool'
      }),
      currentQuestion () {
        if (this.question) {
          let currentQuestion
          currentQuestion = this.question[this.clusterIndex][this.isFinalQuestion - 1]
          return currentQuestion
        }
      },
      currentMCQ () {
        let currentMCQ
        currentMCQ = this.currentQuestion.MCQ[this.quizId - 1]
        return currentMCQ
      },
      getBackground () {
        return this.questionBackground
      }
    },
    methods: {
      async playSoundEffect (path) {
        const soundEffect = document.getElementById('sound-effect')
        soundEffect.src = path
        await soundEffect.load()

        await soundEffect.play()
      },
      async playClick () {
        await this.playSoundEffect(require(`@/assets/audio/click.mp3`))
      },
      async playOtherClick () {
        await this.playSoundEffect(require(`@/assets/audio/click2.mp3`))
      },
      setQuiz (ev) {
        this.quizId = Number(ev.target.dataset.choice)
        this.$store.commit('setSelectedChoiceId', this.quizId)

        const choices = this.$el.querySelectorAll('.question-page-one-choice')

        choices.forEach(choice => {
          choice.classList.remove('selected')
        })

        ev.target.classList.add('selected')
      },
      openQuiz () {
        this.isQuiz = true
      },
      setChoice () {
        this.playOtherClick()
        switch (this.currentMCQ.choices.length) {
          case 2:
            this.styling = this.gridTwo
            break
          case 3:
            this.styling = this.gridThree
            break
          case 4:
            this.styling = this.gridFour
            break
        }
        this.isChoice = true
      },
      checkMCQ (ev) {
        this.playOtherClick()

        let answer = ev.target.dataset.choice
        const boxes = this.$el.querySelectorAll('.question-button')
        boxes.forEach(box => {
          box.classList.remove('selectedBox')
        })
        ev.target.classList.add('selectedBox')

        if (answer) {
          this.isReaction = 0
          this.nextQuizQuestion = this.quizId
          this.routingTo = this.currentQuestion.routes[this.quizId - 1].route
        } else if (!answer && this.quizId === 2) {
          this.isReaction = 1
          this.nextQuizQuestion = 1
          this.routingTo = this.currentQuestion.routes[this.quizId - 2].route
        } else {
          this.isReaction = 1
          this.nextQuizQuestion = 2
          this.routingTo = this.currentQuestion.routes[this.quizId].route
        }
        this.isFeedBackButton = true
      },
      showFeedBack () {
        this.playOtherClick()
        this.isFeedBack = true
      },
      goToRoute () {
        this.playOtherClick()

        this.$store.commit('incrementClusterIndex')
        this.$store.commit('setFinalQuestion', this.nextQuizQuestion)
        this.$router.push(`${this.routingTo}`)
      }
    }
  }
</script>

<style lang="scss" scoped>
    .section {
        background-size: cover;
        padding: 0;
        height: 100vh;
    }
</style>