<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-two-two',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/high-rock.jpg',
            backgroundTwo: 'background/appeasement.jpg',
            storyBackground: 'story-background/highrock-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.1.2.2: APPEASEMENT (PEACE)',
            paragraphs: [
              {
                id: 1,
                paraUp: [15, 1, 0, 0, 16, 3],
                paraAnimation: [1, 0, 1],
                paragraph: 'They were gathered there at High Rock near the outskirts of tiger territory, animals of various sizes and leg count.\n' +
                '\n' +
                'It was King Connor’s first time visiting the land of the tigers. It was hardly the warmest welcome. The tigers he passed snarled menacingly at his Royal Gorilla Guard. But he was here so that Terrafauna could have a chance at lasting peace, and he reminded himself of that with every tiger that bared its fangs at him and his entourage.\n' +
                '\n' +
                'High rock was a vast plateau and upon it sat ten animals: nine representatives from the Alliance of Plains Animals, and Queen Cayenne Shadowfur of the tigers.\n' +
                '\n' +
                'Seated directly opposite King Connor, the Tiger Queen said, “You lot are missing one.”'
              },
              {
                id: 2,
                paraUp: [15, 4, 3, 1, 16, 3],
                paraAnimation: [1, 1, 0],
                paragraph: 'Eric the Grey said in his best diplomatic voice, “Prince Jude of the rabbits has left this to our capable hands as he has, um, domestic matters to attend to.”\n' +
                '\n' +
                '“Funny,” sneered the Tiger Queen. “I thought he’d have a lot to say of the matter at hand.”\n' +
                '\n' +
                'King Connor wished he could throw a really large rock at the Queen. Prince Jude had refused to attend the peace summit ‘on principle’ and ‘did not want any part in such blatant injustice’. King Connor empathised with his A.P.A. colleague, and did not hold Prince Jude’s decision against him. The ape king said, “Thank you, all of you, for agreeing to attend this peace summit. I would like to formally call it into session.”\n' +
                '\n' +
                'General Humpty of the llamas said, “The Alliance of Plains Animals recognises Queen Cayenne Shadowfur, representing tiger kind. What are your terms for peace?”'
              },
              {
                id: 4,
                bgSwitch: true,
                paraUp: [15, 3, 6, 3, 16, 3],
                paraAnimation: [1, 0, 0],
                paragraph: 'Queen Cayenne stood up proudly, puffing her great black-and-orange chest. “They’re very simple, my dear small animals,” she said, to an indignant huff from Eric the Grey. “Firstly, I would like territories from the llamas and the elephants as buffer space between my lands and yours. \n' +
                '\n' +
                'She then looked directly at King Connor, and he felt her eyes burn into his. “Secondly, I demand the Life Tree, the first of the Great Trees, to be passed to tiger control. The sector of the watering hole formerly belonging to the apes” – and to King Connor’s suspicion and surprise, her expression softened – “will be divided into an Eastern sector and a Western sector. The tigers will retain control of the Western sector, while the apes can have the Eastern sector.”',
                soundEffect: require(`@/assets/audio/tiger.mp3`)
              },
              {
                id: 5,
                bgSwitch: true,
                paraUp: [0, 0, 16, 4, 0, 0],
                paraAnimation: [0, 1, 0],
                paragraph: 'King Connor wanted to feel good about regaining their sector of the watering hole, albeit half of it, but he did not. As he put his signature to the peace treaty, he felt that while there would be some semblance of peace in Terrafauna, it had come at much too great a cost.'
              }
            ]
          }
        ]
      }
    }
  }
</script>
<style>
</style>
