<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-two-two',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/lion-throne.jpg',
            backgroundTwo: 'background/lion-alliance.jpg',
            storyBackground: 'story-background/lion-king-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.2.2.2: SEEK AN ALLIANCE WITH THE LIONS',
            paragraphs: [
              {
                id: 1,
                paraUp: [18, 1, 0, 0, 0, 1],
                paraAnimation: [1, 0, 1],
                paragraph: '“Oh,” came a surprisingly squeaky voice, “my god. It’s the ape.”\n' +
                '\n' +
                '“Hello, Alpha Bob,” said Prince Connor gravely, barely indulging himself with a smile at the lion’s grand, militaristic opulence that juxtaposed rather hilariously with his small voice. \n' +
                '\n' +
                '“Salutations, Prince Connor,” returned the leader of Terrafauna’s lions. “Or is it King Connor now?”\n' +
                '\n' +
                '“My coronation comes next week,” replied Prince Connor with a courteous bow. “But before I can call myself leader of the apes, I come to you seeking an alliance.”'
              },
              {
                id: 2,
                paraUp: [18, 1, 0, 0, 0, 3],
                paraAnimation: [0, 0, 1],
                paragraph: '“You seek an alliance... with the lions.” Alpha Bob paused. “Ooh, inadvertent rhyme.” The lion tapped on the diamond encrusted armrest of his throne as if it were a percussion instrument. The throne fit in with the general theme of Alpha Bob’s throne room, which was built into a cave in the savannah beyond the plains. The insides of the cave – from the entrance to the very ends of the throne room - were decked in gold or ornate tapestry and carpets.\n' +
                '\n' +
                'Of course, Prince Connor had no time to marvel at any of it. “Yes. We have a common enemy.”\n' +
                '\n' +
                '“Malaria?”\n' +
                '\n' +
                '“No.”\n' +
                '\n' +
                '“The passage of time?”\n' +
                '\n' +
                '“What? No.”'
              },
              {
                id: 3,
                paraUp: [18, 1, 0, 0, 0, 3],
                paraAnimation: [0, 0, 0],
                paragraph: '“Then, no, we do not have a common enemy,” said Alpha Bob, his hands in a shooing motion.\n' +
                '\n' +
                '“I’m speaking of the tigers.”\n' +
                '\n' +
                '“I know you are, ape. I know about your whole watering hole situation. I don’t see how it is any basis for an alliance. We’re vastly different, our two peoples. You live in the plains, we’re from the savannah. You’re a monarchy, we’re an alphabet.”\n' +
                '\n' +
                '“Alphabet?”\n' +
                '\n' +
                '“You know, we’re ruled by an Alpha and sub-ruled by a Beta. An Alpha-beta, or alphabet for short.”\n' +
                '\n' +
                '“Right.”\n' +
                '\n' +
                '“See? You don’t even know our way of life. So I don’t see how what you’re going through is any of my business, and I don’t see how an alliance can benefit either of us.”'
              },
              {
                id: 5,
                paraUp: [18, 1, 0, 0, 0, 2],
                paraAnimation: [3, 0, 3],
                paragraph: '“I agree. You know what’s none of my business? Your prey allocation dispute with them. These tigers are taking what they want without facing the consequences. Last week, they took a large part of our watering hole. Then, they helped themselves to a larger portion of prey. Who knows what they will take next? If we band together, we can put a stop to their indiscriminate taking.” \n' +
                '\n' +
                '“And how about the things they’ve already taken?”\n' +
                '\n' +
                '“We take them back.” Connor held out a hand to Alpha Bob. “They cannot fight a war on two fronts.”\n' +
                '\n' +
                'The lion’s paw clasped the hand of the ape.'
              },
              {
                id: 7,
                bgSwitch: true,
                paraUp: [15, 1, 0, 2, 1, 1],
                paraAnimation: [1, 1, 1],
                paragraph: 'Three days after, Prince Connor officially declared war on the tigers. The following morning, a massive tiger army gathered in the plains. They were met with a sizeable, but nevertheless smaller, ape army. \n' +
                '\n' +
                'Leading her forces from the front, Queen Cayenne roared loudly, “You’re outnumbered, ape! This battle will be a mere nuisance for us.”\n' +
                '\n' +
                '“You underestimate us, Your Majesty!” Prince Connor turned to Lance, who stood to his right. “Blow the horn,” he said to his advisor. Lance blew into the horn, and its low rumble reverberated across the plains.',
                backgroundMusic: require(`@/assets/audio/war.mp3`)
              },
              {
                id: 8,
                bgSwitch: true,
                paraUp: [0, 0, 15, 1, 0, 0],
                paraAnimation: [0, 3, 0],
                paragraph: 'In response, a loud horn could be heard from north of the plains. Behind the tigers, an army of lions that numbered even more than Queen Cayenne’s began marching towards the battlefield. \n' +
                '\n' +
                'Seeing the new threat, Queen Cayenne split her army in half – one half began charging at the apes, while the other braced themselves for an attack from the lions. The fight had barely lasted half an hour when Queen Cayenne ordered a retreat of her remaining forces. Fewer than half the tigers who marched that day returned home.'
              },
              {
                id: 9,
                bgSwitch: true,
                paraUp: [0, 1, 0, 0, 2, 1],
                paraAnimation: [4, 0, 1],
                paragraph: 'The day before Prince Connor’s coronation, he awoke, feeling as though a heavy burden had been lifted from his shoulders. He made his way down the branches of the Royal Tree, and, as always, was greeted by a beaming Milo.\n' +
                '\n' +
                '“I take it that you have good news?”\n' +
                '\n' +
                'Milo was beside himself, nodding with an uncharacteristic amount of enthusiasm. “They left, Your Majesty! The tigers have left our watering hole!”\n' +
                '\n' +
                'Prince Connor rushed down the tree and looked at the watering hole. Indeed, the tigers had evacuated, and his fellow apes were now running into the lake, frolicking in the ecstasies of freedom.\n' +
                '\n' +
                'Tomorrow would be a fantastic day for a coronation, thought the Prince.'
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
