<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-two',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            timeBackground: 'story-background/forest-chat-bg.jpg',
            background: 'background/intro-interior.jpg',
            backgroundTwo: 'background/defensive-pact.jpg',
            storyBackground: 'story-background/apa-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.1.2: FORM A DEFENSIVE PACT',
            paragraphs: [
              {
                id: 1,
                paraUp: [0, 0, 0, 0, 0, 0],
                paraAnimation: [0, 0, 0],
                isFiveYears: true,
                five: 'Five years later...'
              },
              {
                id: 2,
                paraUp: [16, 4, 0, 0, 2, 8],
                paraAnimation: [5, 0, 1],
                paragraph: 'King Connor awoke to find Milo standing solemnly before him. In the five years since his coronation, Milo had never done this, and it unnerved the young king greatly.\n' +
                '\n' +
                '“Milo?” he asked the old chimpanzee. “What’s wrong?”\n' +
                '\n' +
                '“I’m sorry to come to you like this, Your Majesty,” the chimpanzee said with a heavy voice. “But this could not wait.”\n' +
                '\n' +
                'King Connor sat up. “What is it?”\n' +
                '\n' +
                '“Princess Melanie was killed last night.”'
              },
              {
                id: 3,
                paraUp: [16, 4, 0, 0, 2, 8],
                paraAnimation: [0, 0, 0],
                paragraph: 'King Connor was fully awake now. He had just spoken to Princess Melanie in last week’s A.P.A. meeting. They has discussed a recent spate of aggressive manoeuvres by the tigers. The tigers, had taken over lands belonging to the turkeys and chickens, and the fowl rights group F.A.F.A.F, or Fowls Against Fouls Against Fowls, had written to the A.P.A seeking help. Princess Melanie had spoken out passionately at the meeting, denouncing the tigers and their actions, calling them despicable cowards.\n' +
                '\n' +
                '“How?” asked the king.\n' +
                '\n' +
                '“She was on a diplomatic visit with the elephants, near the elephant-tiger border. A tiger saw her and threw a spear. They caught the tiger, but it was no use. The spear had done its job. Reports say the tiger in question was a member of Queen Cayenne’s Royal Elite Guard, and he wanted to prove to Princess Melanie just how uncowardly they really are.”'
              },
              {
                id: 4,
                paraUp: [16, 2, 0, 0, 2, 8],
                paraAnimation: [1, 0, 0],
                bgSwitch: true,
                paragraph: 'King Connor buried his face in his hands.\n' +
                '\n' +
                'He could not remember how the rest of his day went, for his heart and his mind rested turbulently with the memory of Princess Melanie. Before he knew it, the sun had set, and he was no longer among the Great Trees.\n' +
                '\n' +
                'The funeral pyre was lit, and an amber glow danced upon the hundreds of Terrafauna denizens gathered. They were in the heart of rabbit country, under a blanket of stars. The fur upon their faces was matted with tears.',
                soundEffect: require(`@/assets/audio/bonfire.mp3`)
              },
              {
                id: 6,
                paraUp: [13, 4, 0, 0, 0, 0],
                paraAnimation: [2, 0, 0],
                bgSwitch: true,
                paragraph: 'A middle-aged rabbit, wearing gold robes and a crown that perched precariously between his limp ears, turned to face the crowd. He addressed all gathered, and though he was rabbit royalty, he spoke to them as an equal, a rabbit sharing the experience of his abject loss with his kin. He was Prince Jude.\n' +
                '\n' +
                'He said, “My wife was my life, through good times and through strife. I could not have my breakfast in the morning, for I was having my heart broken first in my mourning. I was not there when a tiger came to get her and after, I wished I could do something, like, tie her together and bring her back from the hereafter. My loss is our loss and rabbit laws will bring the owner of those rabid jaws to justice.”\n' +
                '\n' +
                'He then hopped away, mournfully.'
              },
              {
                id: 7,
                paraUp: [3, 1, 16, 4, 9, 2],
                paraAnimation: [3, 1, 1],
                bgSwitch: true,
                paragraph: '“The rabbits truly are masters of hip-hop,” whispered Skynnard Laggard to King Connor.\n' +
                '\n' +
                '“Skynnard, this is hardly the time to crack wise,” King Connor said, admonishing his A.P.A. counterpart.\n' +
                '\n' +
                'Eric the Grey, seated on the other side of King Connor, discreetly leaned over and whispered to the ape – which achieved the exact opposite of what the elephant lord was trying to do, for Eric was the largest animal in attendance, and his trunk was not exactly biologically designed for whispering. Instead what came out were the following words in poorly controlled trumpeting: “We’re going to have a bigger problem than the sloth’s jokes. This is the first time in five years our defensive pact has really been tested.”\n'
              },
              {
                id: 8,
                paraUp: [0, 0, 0, 0, 0, 0],
                paraAnimation: [0, 0, 0],
                bgSwitch: true,
                paragraph: 'Sure enough, the Alliance of Plains Animals held an emergency meeting the next day, with Prince Jude in the stone seat that King Connor was more used to seeing Princess Melanie upon. When all members were present, Prince Jude addressed the Alliance, his voice carrying much more anguish than it did before. “Today, I come here to question that pact. Is the pact merely an amalgamation of empty words and posturing, or will it fulfil its promise as guardian of justice for its members?”'
              }
            ]
          },
          {
            id: 1,
            name: 'Representative Skynnard',
            isActive: 'activeTwo activeFour',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Prince Jude, we all mourn with you but what you’re asking for here is war.',
            event: 'Skynnard Laggard, uncharacteristically, was the first to respond.'
          },
          {
            id: 2,
            name: 'Prince Jude',
            isActive: 'activeTwo activeFour',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 3, 0, 0],
            speech: 'What I’m asking for is justice!',
            event: 'Returned Prince Jude.'
          },
          {
            id: 3,
            name: 'Prince Jude',
            isActive: 'activeTwo  activeFourR',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 0, 0, 1],
            speech: 'Justice for my wife! And to show these tigers that they cannot take whatever they want from us – whether it’s our portions of the watering hole, or the life of my wife, your friend and colleague.'
          },
          {
            id: 4,
            name: 'Councillor Harriet',
            isActive: 'activeTwo activeThree',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 0, 1, 1],
            speech: 'We understand, Prince Jude. I’m asking for patience. We cannot go in guns blazing. We need to think this through.',
            event: 'Said Councillor Harriet of the hippopotamuses.'
          },
          {
            id: 5,
            isActive: 'activeTwo activeThreeR',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 1, 0, 0],
            event: 'Prince Jude turned to King Connor.'
          },
          {
            id: 6,
            name: 'Prince Jude',
            isActive: 'activeTwo',
            lineup: [16, 4, 13, 3, 4, 1, 9, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'King Connor, Your Majesty, my wife considered you one of her dearest friends in this Alliance. She always valued your wisdom. What does your wisdom tell you now?'
          }
        ]
      }
    }
  }
</script>

<style>
</style>
