<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-one-one',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/give-tigers.jpg',
            storyBackground: 'story-background/war-council-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.2.1.1: GIVE THE TIGERS WHAT THEY WANT',
            paragraphs: [
              {
                id: 1,
                paraUp: [15, 4, 0, 3, 1, 2],
                paraAnimation: [1, 1, 1],
                paragraph: '“Fine! Fine!” Prince Connor said to the tiger queen. “We’ll give you what you want!”\n' +
                '\n' +
                'Behind him, he could hear Lance screech out his frustration. “We have transformed from a monarchy to a charity, it seems,” muttered his advisor.\n' +
                '\n' +
                '“Good,” Queen Cayenne said with a smile so wide, her razor fangs were able to glint in the sun. She signalled for her entourage to leave, and they obliged. Before joining her streak of tigers, the Queen gave the Prince a sinister wink.'
              },
              {
                id: 2,
                paraUp: [15, 4, 0, 0, 0, 3],
                paraAnimation: [0, 0, 1],
                paragraph: 'The next day, tigers – both armed military personnel as well as workers and their families – took over the Life Tree. The first of the Great Trees had already been evacuated early that morning, and with it, whatever stores of food they had accumulated since the last harvest. To ensure supply could meet demand, Prince Connor began sending squads of foragers into the lands beyond the plains to find food.\n' +
                '\n' +
                'Two mornings after, Queen Cayenne requested another meeting with Prince Connor. They met on one of the upper branches of the Life Tree.\n' +
                '\n' +
                '“I need the Indus Tree as well,” Queen Cayenne said, not bothering with salutations or pleasantries. “You are to evacuate it by tomorrow.”'
              },
              {
                id: 3,
                paraUp: [15, 3, 0, 0, 0, 6],
                paraAnimation: [3, 0, 1],
                paragraph: '“You can’t possibly—”\n' +
                '\n' +
                '“Ah, but I can, boy. And I can either find it evacuated tomorrow morning, or I can have my tigers kill every ape they find in the Indus Tree tomorrow morning.”\n' +
                '\n' +
                '“Fine!” cried Prince Connor, thinking about the families that would be torn apart if he were to stand up against the tiger queen. \n' +
                '\n' +
                'The following day, most of ape kind were crammed into the Royal Tree. Those who did not want to be subject to such living conditions took to the plains, to live among friends from other species. Every day, they would hear the roar of tigers from places they used to call home.',
                soundEffect: require(`@/assets/audio/tiger.mp3`)
              },
              {
                id: 4,
                paraUp: [1, 1, 0, 0, 16, 4],
                paraAnimation: [6, 0, 1],
                paragraph: 'When his coronation finally occurred at the end of the week, the mood among his apes had hit new lows. Connor, now King, remembered the unenthusiastic applause as the crown landed on his head. He remembered the cold reception to his first speech as King – a call to value life over conflict, to forgo the material to develop the emotional and intellectual. \n' +
                '\n' +
                'Little did the new King know that in the lower branches of the Royal Tree, Lance was forming a band of militant apes to take back their trees.\n' +
                '\n' +
                'Little did he know that Terrafauna, despite his efforts for peace, would plunge into violence and strife by his doing.'
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
