<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-one-two',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/continuing-sanctions.jpg',
            backgroundTwo: 'background/play.jpg',
            storyBackground: 'story-background/continue-sanctions-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.1.1.2: EXTENDED THE SANCTIONS',
            paragraphs: [
              {
                id: 1,
                paraUp: [15, 3, 0, 0, 0, 0],
                paraAnimation: [3, 0, 0],
                paragraph: 'The speech, as speeches went, was something truly awe-inspiring. Queen Cayenne, leader of the tigers, had always been regal but when she stood upon the High Rock, addressing the tigers in roars that were at once mesmerising and spine-tingling, her subjects remembered why she was born to lead them.\n' +
                '\n' +
                'She ended her speech with, “The cowards of the A.P.A. think they can weaken us with their sanctions, but we are tigers! We are the greatest of all Terrafauna animals! And we will show them our might!” In response, the tigers roared with all their might. It was said that the neighbouring lands quaked in the immediate aftermath of her speech.'
              },
              {
                id: 2,
                paraUp: [15, 4, 0, 0, 17, 1],
                paraAnimation: [1, 0, 1],
                paragraph: 'But Queen Cayenne’s words were not just inflamed by her fury. They were also armed with the knowledge that behind High Rock, her military scientists had carefully grown colonies of Terrafauna killer bees, housing them in oval wooden structures.\n' +
                '\n' +
                'Said Galen, her lead military scientist, “We simply slingshot these wooden structures – I call them bombs – into our enemies’ lands. The wood will break apart, and the bees will fly out, stingers set to kill. We’re currently working on a slingshot that can get the bombs far enough to not endanger tigers.”\n' +
                '\n' +
                '“Good!” cackled Queen Cayenne. “Very good, Galen. Double your efforts on the slingshots.”'
              },
              {
                id: 3,
                paraUp: [15, 2, 0, 0, 17, 1],
                paraAnimation: [3, 0, 0],
                paragraph: 'The scientist nodded, but he opened his mouth to speak again. “I’ve also made progress with the less…militaristic applications of the bees, Your Highness,” Galen said nervously. “You see, the bees also make this thing called honey, which I believe can be used to feed our people. We’ve suffered so much since the sanctions—”\n' +
                '\n' +
                'But Queen Cayenne roared, “No, Galen! Now is the time for might and fury, not sweet nothings!”\n' +
                '\n' +
                '“Yes, Your Highness,” stuttered the scientist.\n' +
                '\n' +
                'Queen Cayenne ascended High Rock again. The crowd from earlier had since dispersed, but from this vantage, she could see into the plains, across it, and, if she squinted, she could even see the Great Trees beyond it.',
                soundEffect: require(`@/assets/audio/tiger.mp3`)
              },
              {
                id: 4,
                bgSwitch: true,
                paraUp: [16, 3, 0, 0, 0, 0],
                paraAnimation: [1, 0, 0],
                paragraph: 'The Great Trees consisted of the Life Tree, the Indus Tree and the Royal Tree – the last of which housed King Connor. Currently, it also housed all of ape kind, as they gathered for the celebration of King Connor’s sixth anniversary as ruler of apes, and King of the Great Trees. It was a joyous occasion, for the apes had enjoyed peace and prosperity under their king, and had much to thank him for.\n' +
                '\n' +
                'Presently, they were regaling him with a colourful theatre production of The Scorpion and The Bear. The play followed the story of two travelling companions: a scorpion and a bear. While they were not natural allies, the two were nevertheless useful to one another. The bear would scare away the scorpion’s predators, while the scorpion would kill small animals for the bear to feed on. Their friendship begins to grow, until one day it faces the ultimate test. A strong wind blows the scorpion off its feet, into the river. The bear jumps in to save his new friend.'
              },
              {
                id: 5,
                bgSwitch: true,
                paraUp: [16, 4, 0, 0, 0, 0],
                paraAnimation: [1, 0, 0],
                paragraph: 'The play was famed for its different endings, depending on the actors presenting it. In some, both animals return to shore and enjoy a much stronger friendship. In others, the bear stops himself before reaching the scorpion, believing that if he swam out any further, he would doom them both.\n' +
                '\n' +
                'In this one, the bear grasps the scorpion in his hand too tightly. Not wanting to be crushed, the scorpion stings the bear in its fright. The venom paralyses the bear, trapping the scorpion in a vice-like fist. Both animals drown in the river.\n' +
                '\n' +
                'For some reason, this brought tears to King Connor’s eyes.'
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
