<template>
  <component-story :scripts="scripts"/>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-two-one',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/war.jpg',
            backgroundTwo: 'background/war.jpg',
            storyBackground: 'story-background/war-bg.jpg',
            backgroundMusic: require(`@/assets/audio/preparewar.mp3`),
            title: '1.1.2.1: WAR!',
            paragraphs: [
              {
                id: 2,
                paraUp: [16, 6, 0, 0, 6, 3],
                paraAnimation: [5, 0, 1],
                paragraph:
                'The sun rose, and bled its fiery luminescence upon Terrafauna.\n' +
                '\n' +
                'At the topmost branch of the Royal Tree, attendants were helping King Connor don his battle regalia, a golden plate mail embroidered with the Treewalker family crest, and a long silver-tipped spear made of intricately carved elder wood. The King then climbed swiftly down the branches to join his soldiers and his allies from the A.P.A.\n' +
                '\n' +
                'Closer to noon, a lookout shouted, “The tigers are here!”\n' +
                '\n' +
                '“To your positions!” cried General Humpty. King Connor stood at the front of the ape phalanx, behind the elephantine heavy infantry.  They were flanked by the gazelles on the right and the zebras on the left. The rest of the animals took their positions behind the apes.'
              },
              {
                id: 3,
                paraUp: [0, 0, 3, 2, 0, 0],
                paraAnimation: [0, 7, 0],
                paragraph: 'Their plan was to use the gazelles\' and zebras\' speed to flank the tigers on both sides while the rest of the Alliance’s army would attack from the front. It was a strategy called ‘The Pincer Movement’ – a move that, surprisingly, was not conceptualised by Terrafauna’s crabs.\n' +
                '\n' +
                '“Steady!” cried Eric the Grey from the head of their formation. \n' +
                '\n' +
                'The tigers stopped about two hundred metres from the Alliance\'s army, and their battle roar reverberated across the plains.\n' +
                '\n' +
                'In response, Eric the Grey yelled with all his breath, “Charge!”'
              },
              {
                id: 4,
                paraUp: [0, 0, 16, 6, 0, 0],
                paraAnimation: [0, 9, 0],
                paragraph: 'The animals of the plains drew their weapons and sprinted towards their foes. The beat of their paws and hooves and feet against the ground seemed to echo the beating of their hearts. It then culminated in the clash of spears on armour, of claws and fangs on metal. Screams rent the air. It was a cacophony of chaos and violence.\n' +
                '\n' +
                'Eventually, the tigers carved a gap in the elephants’ ranks. Two of them went straight for King Connor. With his spear, King Connor parried their attacks, before embedding the sharp end of his weapon into one of the tigers. He held off the other with a swift kick.',
                backgroundMusic: require(`@/assets/audio/war.mp3`)
              },
              {
                id: 5,
                paraUp: [16, 7, 0, 0, 13, 2],
                paraAnimation: [1, 0, 1],
                paragraph: '  He turned and saw the source of that terrible sound: a tiger sinking its claws into an unarmoured Prince Jude. With a cry of anguish, King Connor threw his spear at the tiger. The spear whistled through the air before catching the tiger in its neck.\n' +
                '\n' +
                'King Connor ran to Prince Jude and held his colleague in his arms.\n' +
                '\n' +
                '“Defeat them, Connor,” gasped Prince Jude, through ragged breaths. “For Melanie.” Those words and those breaths proved to be the rabbit prince’s last.'
              },
              {
                id: 6,
                paraUp: [0, 0, 16, 6, 0, 0],
                paraAnimation: [0, 10, 0],
                paragraph: 'The sun was setting when the tigers called for a retreat, to the triumphant cheers of the plains animals. King Connor took no heed, for he was already deep in mourning for those who had lost their lives. More than twenty of his apes met their end here, as did General Humpty of the llamas and hundreds upon hundreds of plains animals. Entire families were obliterated that day, their bloodline now smears upon the battlefield.'
              },
              {
                id: 7,
                paraUp: [3, 1, 0, 0, 16, 5],
                paraAnimation: [1, 0, 1],
                paragraph: '“What have we done?” King Connor asked aloud as tears streaked helplessly down his cheeks.\n' +
                '\n' +
                'Eric the Grey heard this, and replied, “What was necessary, so our future generations may live in peace.”\n' +
                '\n' +
                '“Do you really believe that?” asked the ape of the elephant.\n' +
                '\n' +
                'Eric the Grey opened his mouth to reply, but stopped himself. He found that he did not have an answer.'
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
