<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-two',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            title: '1.2.2: WAR! MILITARY ACTION',
            background: 'background/going-to-war.jpg',
            storyBackground: 'story-background/war-council-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            paragraphs: [
              {
                id: 1,
                paraUp: [1, 2, 0, 2, 2, 2],
                paraAnimation: [1, 1, 1],
                paragraph: '“We meet them on the battlefield!” Prince Connor shouted to his eager subjects.\n' +
                '\n' +
                'The gathered apes roared a great battle cry that caused ripples in the watering hole. The tigers in what was formerly the apes’ sector of the watering hole froze and looked towards the Great Trees nervously. Lance was punching the air, joining his fellow apes in their war cry. \n' +
                '\n' +
                'Milo, however, shook his head in disappointment.\n' +
                '\n' +
                'The next day, Prince Connor rearranged his team of advisors into a war council. Despite his more peaceful leanings, Milo was included in this council – a move that suggested Prince Connor still wanted a voice of reason in the tumultuous ebb and flow of war.'
              },
              {
                id: 2,
                paraUp: [1, 1, 0, 3, 2, 1],
                paraAnimation: [3, 1, 1],
                paragraph: 'Prince Connor opened the first meeting of his war council by saying, “War is upon us. But this is not a senseless war. This is a war to reclaim our watering hole, and to show all of Terrafauna how mighty we apes truly are.”\n' +
                '\n' +
                '“To the tigers! Onward!” cried Lance.' +
                '\n' +
                '“Not yet,” said Prince Connor. “All that said, we are still weaker, militarily, than the tigers. They know this, which is why they’ve so impetuously taken our sector of the watering hole. We need to improve our odds first.”\n' +
                '\n' +
                'A barrage of ideas was thrown at him.\n' +
                '\n' +
                '“Let’s hide our soldiers in a wooden horse and give it to them as a gift! Then, when they least expect it, our soldiers climb out from inside the horse and kill those tigers!”\n' +
                '\n' +
                '“Something more original please.”',
                soundEffect: require(`@/assets/audio/gorillas.mp3`)
              }
            ]
          },
          {
            id: 1,
            name: 'Lance',
            isActive: 'activeOne activeThree',
            lineup: [0, 4, 2, 1, 1, 1, 14, 1],
            storyAnimations: [13, 13, 14, 14],
            speech: 'How about guerrilla warfare?',
            event: 'Lance offered.'
          },
          {
            id: 2,
            name: 'Major Pockets',
            isActive: 'activeOneR activeThreeR activeFour',
            lineup: [0, 4, 2, 1, 1, 1, 14, 1],
            storyAnimations: [0, 0, 1, 0],
            speech: 'Whoa, hey. I thought this was a war involving all apes. Why is it that only we do the fighting?',
            event: 'Said Major Pockets, the gorilla commanding officer of the Royal Gorilla Guards.'
          },
          {
            id: 3,
            name: 'Lance',
            isActive: 'activeThree activeFourR',
            lineup: [0, 4, 2, 1, 1, 1, 14, 1],
            storyAnimations: [0, 0, 0, 1],
            speech: 'No I said guerrilla warfare. We – not just gorillas – weaken them with quick, incisive manoeuvres before launching a full-scale attack.'
          },
          {
            id: 4,
            name: 'Major Pockets',
            isActive: 'activeFour',
            lineup: [0, 4, 2, 1, 1, 1, 14, 2],
            storyAnimations: [0, 0, 1, 0],
            speech: 'Oh. I knew that. Might I just add at this point that guerrilla tactics are a very good idea.',
            event: 'The gorilla smiled sheepishly.'
          },
          {
            id: 5,
            name: 'Milo',
            isActive: 'activeTwo activeFourR',
            lineup: [0, 4, 2, 1, 1, 1, 14, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Another option, is to perhaps seek a military alliance. I hear the lions aren’t all too happy with the tigers, either.',
            event: 'Said Milo.'
          },
          {
            id: 6,
            name: 'Ape Advisor',
            isActive: 'activeTwoR',
            lineup: [0, 4, 2, 1, 1, 1, 14, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Oh, they aren’t? What happened?',
            event: 'Asked one of the advisors.'
          },
          {
            id: 7,
            name: 'Milo',
            isActive: 'activeTwo',
            lineup: [0, 4, 2, 3, 1, 1, 14, 1],
            storyAnimations: [0, 1, 0, 0],
            speech: 'A disagreement about prey allocation, I hear.',
            event: 'Milo replied.'
          },
          {
            id: 8,
            name: 'Milo',
            isActive: 'activeTwo',
            lineup: [0, 4, 2, 3, 1, 1, 14, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Prince Connor, how should we forge ahead?'
          }
        ]
      }
    }
  }
</script>

<style>
</style>
