<template>
  <component-story :scripts="scripts"/>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/intro-interior.jpg',
            backgroundTwo: 'background/intro.jpg',
            storyBackground: 'story-background/forest-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: 'Beginning',
            paragraphs: [
              {
                id: 1,
                paraAnimation: [0, 0, 0],
                paragraph: 'The sun rose, its yellow glow scrambling across the lush landscape of Terrafauna. Hulking, sky-scraping trees cast mighty shadows on grass greener than the ones they have on that elusive “other side”. Early birds were catching worms and morning glories were living up to their name.\n' +
                '\n' +
                'The morning’s sunlight reflected in dazzling, rippling flashes upon Terrafauna’s great watering hole – a vast lake in its flatlands. The Great Trees stood by the watering hole, timeless and imposing. They were a line of three trees that housed the mighty apes of Terrafauna. Their thick branches spread far outward, forming a thick, wide canopy that sheltered its denizens from the at-times sweltering heat of the sun. But now, in the rising morning, the sun warmed and nourished, and it coaxed Prince Connor Treewalker, ruler of the Great Trees, out of slumber.'
              },
              {
                id: 2,
                paraUp: [0, 1, 0, 0, 2, 2],
                paraAnimation: [2, 0, 1],
                paragraph: 'The Prince rubbed the sleep from his eyes and descended from his branch near the canopy of the Royal Tree – the tallest and largest of the three and the furthest from the watering hole. He looked out to the other two Great Trees that pointed the way towards the watering hole: the Life Tree, where food was grown and stored, and the Indus Tree, where manufacturing and production took place. His fellow apes – no, his royal subjects, he reminded himself – were also rousing from sleep, their chatter slowly embedding into the symphony of the morning.\n' +
                '\n' +
                'His father’s advisor, Milo, a distinguished-looking chimpanzee, was the first to greet him, climbing up from his branch to his prince’s side.\n' +
                '\n' +
                '“Good morning, Your Majesty!” Milo greeted, his tone grave.'
              },
              {
                id: 3,
                paraUp: [0, 1, 0, 0, 2, 1],
                paraAnimation: [0, 0, 1],
                paragraph: 'Prince Connor did not immediately catch the older chimpanzee’s inflection. “What news do you have for me this morning? And start with the good news. I’ve been pelted with bad news in recent days.”\n' +
                '\n' +
                'Milo looked sympathetic. The Prince’s wish was perfectly understandable. “As you wish, Your Majesty. You’ll be happy to learn that I have mostly good news today. To begin, our Apeollo Seven team returned safely last night!”\n' +
                '\n' +
                'A sad smile slowly settled upon Prince Connor’s face. The Apeollo missions were the wondrous fruits of his late father’s labour. The recently deceased King Cerco Treewalker was a visionary patron of the Sciences and had funded a series of missions to visit a faraway planet called Earth. “The people of Earth are a warring species,” his father had said to the apes after the team from Apeollo One returned to Terrafauna safely. “But they also have tremendous potential for peace and cooperation.”'
              },
              {
                id: 4,
                paraUp: [0, 1, 0, 0, 2, 1],
                paraAnimation: [0, 0, 0],
                paragraph: 'Milo held out a folder, which Prince Connor took. In big, bold fonts, the cover of the folder read ‘APEOLLO SEVEN MISSION REPORT’. “The report consolidates the findings of this team, and the teams from previous missions,” said Milo to his prince. “And focuses on learnings particularly in planet Earth’s political and socio-economic spheres.”\n' +
                '\n' +
                'Milo scanned through the report. Earth’s history of conflicts and strife, and its peoples’ efforts towards peace were well-documented here. He made a mental note to refer to the report every time he had to make a decision on behalf of his people. “What other news do you have, Milo?”\n' +
                '\n' +
                '“The zebras have written into their constitution new equality laws for all zebras – whether they are black with white stripes, or white with black stripes. It’s called the All Stripes Matter Act, or ASMA.”\n' +
                '\n' +
                '“That is certainly good news, Milo.”\n'
              },
              {
                id: 5,
                paraUp: [0, 1, 1, 3, 2, 4],
                paraAnimation: [0, 4, 6],
                paragraph: 'Milo gulped nervously. “Well, Your Majesty, there is one more thing...”\n' +
                '\n' +
                'Before Prince Connor could ask his advisor to elaborate, a great clamour rose from the lower branches. “Your Majesty!” came a young ape’s voice from among the masses. Prince Connor spotted him quickly - the light fur that covered the muscular frame of his childhood friend, Lance.' +
                '\n' +
                'Lance was added to the royal court a few days ago at Prince Connor’s behest. The prince wanted a wider variety of voices to advise him, as he led ape kind into what he hoped to be a peaceful, prosperous future. “Prince Connor!” he cried, his voice manic, his limbs gesticulating wildly. “The watering hole!”\n' +
                '\n' +
                '“What of it?”\n'
              },
              {
                id: 6,
                paraUp: [0, 3, 1, 1, 2, 4],
                paraAnimation: [0, 0, 0],
                paragraph:
                'Beside the prince, Milo cleared his throat. “This was what I’ve been trying to get to, Your Majesty. \n' +
                'The—”\n' +
                '\n' +
                'But before Milo could say any more, Lance spoke over the old chimpanzee, “Tigers have taken over our sector of the watering hole! They have posted guards along the banks, with claws brandished! Apes trying to enter those pools have been turned back. They’re threatening to use force if any more apes try to enter again.”\n' +
                '\n' +
                'Prince Connor shot Milo a look of displeasure. “You said begin with the good news first!” Milo cried. They swung swiftly down the Royal Tree – Milo next to Lance, followed by members of the Royal Gorilla Guard, who formed a tight phalanx around Prince Connor. They stopped when they reached the gnarled roots of the Life Tree.\n'
              },
              {
                id: 7,
                paraUp: [0, 3, 1, 1, 2, 4],
                paraAnimation: [5, 5, 5],
                bgSwitch: true,
                paragraph:
                  'They all gazed towards the watering hole. Sure enough, a band of tigers were in their waters – their sector of the great lake. The tigers’ sector of the watering hole was also occupied, Connor noted. There were so many tigers there that it looked like a single great reverberating orange-and-black cymbal, crashing like a wave. Unfortunately, it was a wave with claws and fangs.',
                soundEffect: require(`@/assets/audio/leaves.mp3`)
              }
            ]
          },
          {
            id: 1,
            name: 'Milo',
            isActive: 'activeFour',
            lineup: [0, 3, 1, 1, 0, 0, 2, 2],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Why would they come to ours if they still had their own?',
            event: 'Milo asked, terror and confusion intermingled in his voice.'
          },
          {
            id: 2,
            name: 'Lance',
            isActive: 'activeTwo activeFour',
            lineup: [0, 3, 1, 1, 0, 0, 2, 2],
            storyAnimations: [0, 0, 0, 0],
            speech: 'This is an act of war, Prince Connor! We need to retaliate quickly.',
            event: 'Lance cried, thumping his fists against the trunk of the Royal Tree.'
          },
          {
            id: 3,
            name: 'Milo',
            isActive: 'activeTwo activeFour',
            lineup: [0, 4, 1, 1, 0, 0, 2, 6],
            storyAnimations: [1, 0, 0, 2],
            speech: 'Are you crazy? That will only bring certain death. The tigers are far stronger than us! We still don’t know why the tigers have done this.',
            event: 'Milo said to Lance.'
          },
          {
            id: 4,
            name: 'Lance',
            isActive: 'activeTwo activeFour',
            lineup: [0, 4, 1, 2, 0, 0, 2, 6],
            storyAnimations: [0, 3, 0, 0],
            speech: 'Let’s ask them then!',
            event: 'Said Lance.'
          },
          {
            id: 5,
            name: 'Milo',
            isActive: 'activeTwo activeFour',
            lineup: [0, 4, 1, 2, 0, 0, 2, 6],
            storyAnimations: [0, 0, 0, 0],
            speech: 'No. If indeed they are annexing portions of the watering hole reserved for apes, I think we should seek the help of the A.P.A.',
            event: 'Milo advised, calling for calm.'
          },
          {
            id: 6,
            name: 'Lance',
            isActive: 'activeTwo activeFour ',
            lineup: [0, 4, 1, 1, 0, 0, 2, 6],
            storyAnimations: [0, 1, 0, 0],
            speech: 'The A.P.A.?'
          },
          {
            id: 7,
            name: 'Milo',
            isActive: 'activeTwo activeFour',
            lineup: [0, 4, 1, 1, 0, 0, 2, 3],
            storyAnimations: [0, 0, 0, 1],
            speech: 'The Alliance of Plains Animals. Our combined political might may deter further tiger aggression.',
            event: 'Milo clarified.'
          },
          {
            id: 8,
            isActive: 'activeThree activeTwoR activeFourR',
            lineup: [0, 4, 1, 1, 12, 1, 2, 3],
            storyAnimations: [0, 0, 5, 0],
            event: 'A gorilla got between them. It was Vox, Herald of the Royal Ape Court.'
          },
          {
            id: 9,
            name: 'Vox',
            isActive: 'activeThree',
            lineup: [0, 4, 1, 1, 12, 1, 2, 3],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Quit your bickering, the two of you! Prince Connor Treewalker has to make the decision.'
          }
        ]
      }
    }
  }
</script>
