<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/deal-tiger-directly.jpg',
            storyBackground: 'story-background/deal-tigers-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: 'Story Chapter ( 1 . 2 ) : DEAL WITH THE TIGERS DIRECTLY',
            paragraphs: [
              {
                id: 1,
                paraUp: [2, 1, 0, 2, 1, 1],
                paraAnimation: [1, 1, 1],
                paragraph: 'The sun rose laboriously as time stood but a whisker away from noon. In the clearing underneath the Great Tree, there was a great gathering of Terrafauna’s apes. They were pacing and chattering nervously, an unruly mob made more so by the presence of tigers in the sector of the watering hole that used to belong to them.\n' +
                '\n' +
                'In the middle of this madness was Prince Connor, flanked by Lance, Milo and his other trusted advisors.\n' +
                '\n' +
                '"My fellow apes!" cried Prince Connor to the gathered crowd. "Lend me your ears."\n' +
                '\n' +
                'The clamouring from his royal subjects stopped. “Why? You have yours right there!” cried a large gorilla, pointing to the sides of Prince Connor’s head.'
              },
              {
                id: 2,
                paraUp: [2, 1, 0, 2, 1, 1],
                paraAnimation: [0, 0, 0],
                paragraph: '“I mean, listen to me,” Prince Connor said, in a voice that could reach the very pinnacles of the Great Tree. The apes listened to him with rapt attention, especially when he added, “The tigers have taken over a large portion of our share of the watering hole.” He continued, “Some of you have seen it yourselves: tigers drinking, bathing in our waters, while armed guards form a perimeter around them. These are waters that nourished our community. These are waters that have given life to ape kind for a thousand generations! And these are waters that we will take back from the tigers!”\n' +
                '\n' +
                'The gathered mob cheered loudly, jumping up and down and screaming their agreement and veneration. When the cheers began to subside, a young orange-brown orangutan asked, “How will we take it back from the tigers?”',
                soundEffect: require(`@/assets/audio/gorillas.mp3`)
              },
              {
                id: 3,
                paraUp: [2, 1, 0, 4, 1, 2],
                paraAnimation: [0, 1, 2],
                paragraph: 'Milo answered her, his voice slow, calm and measured. “We will negotiate a peaceful and mutually beneficial deal with Queen Cayenne. She is a strong, wise leader – I’m sure she’ll listen to reason.” There were murmurs of approval from the gathered crowd of apes.\n' +
                '\n' +
                'But there was one very loud voice of dissent. “No!” Lance shouted. As one, all the apes gathered – gorillas, bonobos, chimpanzees and their kin alike – turned to face the young royal advisor, who was standing to the left of Prince Connor. “The reason why the tigers think they can just take what is ours is because they think we are weak. But we are not weak!”\n' +
                '\n' +
                'There was a loud, deafening roar of agreement from the apes.',
                soundEffect: require(`@/assets/audio/monkeys.mp3`)
              }
            ]
          },
          {
            id: 1,
            name: 'Lance',
            isActive: 'activeFour',
            lineup: [0, 4, 2, 1, 0, 0, 1, 2],
            storyAnimations: [14, 14, 0, 13],
            speech: 'We are strong! Together, we can drive the tigers back to whichever dump they came from. Prince Connor, let us take up arms and show these tigers that apes will be the new dominant force of Terrafauna.'
          },
          {
            id: 2,
            isActive: 'activeFourR',
            lineup: [0, 4, 2, 1, 0, 0, 1, 1],
            storyAnimations: [0, 0, 0, 1],
            event: 'The apes were in a frenzy now. They were jumping, beating their chests, shouting things like, “Apes strong!”'
          },
          {
            id: 3,
            name: 'Milo',
            isActive: 'activeTwo',
            lineup: [0, 4, 2, 3, 0, 0, 1, 1],
            storyAnimations: [0, 1, 0, 0],
            speech: 'No, Prince Connor. Seek peace. It’s what your father would have wanted.',
            event: 'Said Milo, alarmed at Lance’s escalation.'
          },
          {
            id: 4,
            isActive: 'activeOne activeTwoR',
            lineup: [0, 4, 2, 3, 0, 0, 1, 1],
            storyAnimations: [0, 1, 0, 0],
            event: 'Prince Connor glanced at his two advisors. They both made sense, but only one decision could be made, and he needed to make it quickly.\n'
          }
        ]
      }
    }
  }
</script>
<style>
</style>
