<template>
  <component-story :scripts="scripts"/>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/appa-meeting.jpg',
            storyBackground: 'story-background/apa-chat-bg.jpg',
            title: '1.1: SEEK HELP FROM THE ALLIANCE OF PLAINS ANIMALS',
            backgroundMusic: require(`@/assets/audio/council.mp3`),
            paragraphs: [
              {
                id: 1,
                paraUp: [3, 1, 5, 1, 10, 1],
                paraAnimation: [1, 1, 1],
                paragraph: 'The sun rose laboriously as time stood but a whisker away from noon. In an expansive clearing in the north of Terrafauna’s Jungle, there were ten large boulders with flat tops set in a perfect circle. This was the Chamber of the Alliance of Plains Animals, or A.P.A.\n' +
                '\n' +
                'All ten spots were currently occupied. There was Eric the Grey, a wizened old elephant who had served on the Council for nearly two generations. Next to him was Councillor Hugo the Owl, who, it was rumoured, was a hoot at parties. Representative Victor the Giraffe, who saw all and smelled all, sat precariously on the stone to the right of Hugo. Next to Representative Victor was Skynnard Laggard, who represented sloths on the Council. Councillor Zane of the zebras, Princess Melanie of the rabbits and Councillor Harriet of the hippopotamuses sat between Skynnard Laggard and General Humpty of the llamas. Councillor Richard of the gazelles sat next to General Humpty, separating the large, muscular llama military leader from Prince Connor.'
              },
              {
                id: 2,
                paraUp: [0, 2, 7, 1, 6, 1],
                paraAnimation: [7, 1, 1],
                paragraph: '“The Council recognises Prince Connor of the Great Tree, representative and future monarch of the apes,” said General Humpty in his great, booming voice.\n' +
                '\n' +
                '“Councillors, I come before you on behalf of a species whose way of life has come under grave threat. The tigers have come into our sector of the watering hole with a strong military presence. These actions have forced us to ration what little water we have left. My apes are parched and angry! Do you know what we do when we’re angry?”\n' +
                '\n' +
                '“You fling poo?” offered Princess Melanie.\n' +
                '\n' +
                '“No we—” Prince Connor stopped himself. “Well, yes, we do that. But we are also willing to take up arms.”\n'
              },
              {
                id: 3,
                paraUp: [3, 1, 7, 1, 9, 3],
                paraAnimation: [1, 0, 1],
                paragraph: 'Skynnard Laggard let out a slow, drawn-out sigh. “Not another war,” he said heavily. He glanced at Representative Victor, and the two exchanged rather sheepish looks. “I’m sure we can use diplomacy to solve this issue.”\n' +
                '\n' +
                '“Hear, hear,” said Princess Melanie. “Some of us here represent the tigers’ major trading partners. If we can starve them of goods and resources that they need, we could force them to soften their aggressive posturing.”\n' +
                '\n' +
                'There was a wheezing, trumpeting sound. Eric the Grey said, “Or, it could force the tigers to aggressively encroach on other lands to get these resources. And those who immediately neighbour the tigers’ territories – such as we elephants – will probably be the first victims.”'
              }
            ]
          },
          {
            id: 1,
            name: 'General Humpty',
            isActive: 'activeOne',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [14, 14, 13, 13],
            speech: 'Let’s put this to a vote. Do we seek an economic or a military solution?',
            event: 'Said General Humpty.'
          },
          {
            id: 2,
            isActive: 'activeOne',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            event: 'The General studied his colleagues, most of whom seemed uneasy at this surely divisive vote.'
          },
          {
            id: 3,
            name: 'General Humpty',
            isActive: 'activeOne',
            lineup: [6, 3, 5, 1, 10, 1, 3, 1],
            storyAnimations: [3, 0, 0, 0],
            speech: 'I vote a military solution. We form a defensive pact – all of us. In the event of an attack against any one of our members, we combine our armies, and together, we defeat our aggressors.'
          },
          {
            id: 4,
            name: 'Representative Victor',
            isActive: 'activeOneR activeThree',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Such dangerous posturing will only serve to alienate the tigers further, and I fear that when cornered, those oversized cats will lash out with their claws.',
            event: 'Representative Victor of the giraffes, said in a voice both wary and weary.'
          },
          {
            id: 5,
            name: 'Representative Victor',
            isActive: 'activeThree',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Another armed conflict will only serve to further destabilise Terrafauna. I vote a peaceful, economic solution.'
          },
          {
            id: 6,
            isActive: 'activeOne activeThreeR',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            event: 'The rest quickly cast their votes as General Humpty tallied the votes in his head.'
          },
          {
            id: 7,
            name: 'General Humpty',
            isActive: 'activeOne',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'That’s four votes for an economic solution, four votes for a military solution, and one abstained vote.',
            event: 'He then turned his slim, furry head towards Prince Connor.'
          },
          {
            id: 8,
            name: 'General Humpty',
            isActive: 'activeOne',
            lineup: [6, 1, 5, 1, 10, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Prince Connor, it seems your vote will break the deadlock. What will it be?'
          }
        ]
      }
    }
  }
</script>
