<template>
    <component-story :scripts="scripts"/>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-one',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            timeBackground: 'story-background/forest-chat-bg.jpg',
            background: 'background/impose-sanctions.jpg',
            storyBackground: 'story-background/apa-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.1.1: IMPOSE SANCTIONS',
            paragraphs: [
              {
                id: 1,
                paraUp: [0, 0, 0, 0, 0, 0],
                paraAnimation: [0, 0, 0],
                isFiveYears: true,
                five: 'Five years later...'
              },
              {
                id: 2,
                paraUp: [16, 3, 0, 0, 0, 0],
                paraAnimation: [1, 0, 0],
                paragraph: 'King Connor rose from his stone seat. “My esteemed friends of the Alliance of Plains Animals,” he said, his voice having grown much graver and careworn since his coronation. “Five years ago, we voted for an economic solution to the problem of tiger encroachment into our watering hole. We cut off trade with the tigers and withheld vital resources from them.”\n' +
                '\n' +
                'The applause King Connor expected was almost muted – and he knew it was not because most of the Alliance’s members did not have forearms.\n' +
                '\n' +
                'He pressed on, “This decision was a difficult one to come to—”'
              },
              {
                id: 3,
                paraUp: [16, 3, 7, 1, 11, 2],
                paraAnimation: [0, 1, 1],
                paragraph: 'Zebra Councillor Zane made a sound that was a cross between a derisive snort and a neigh. “No kidding. The zebra economy has suffered massively thanks to your vote.”\n' +
                '\n' +
                '“At least you still have ASMA,” Princess Melanie of the rabbits pointed out.\n' +
                '\n' +
                'Councillor Zane breathed deeply and steadily. He breathed out. He breathed in again. “No, I don’t,” he said, confused.\n' +
                '\n' +
                '“I mean the All Stripes Matter Act!” Princess Melanie clarified. “You’ve set a noble precedent for all fauna.”\n' +
                '\n' +
                'Councillor Zane sighed at the Princess’ comments. “Equality is difficult without prosperity, young rabbit Princess.”'
              },
              {
                id: 4,
                paraUp: [6, 3, 5, 2, 4, 2],
                paraAnimation: [7, 7, 7],
                paragraph: '“What’s worse,” said Councillor Harriet of the hippos, addressing King Connor directly, “we failed to drive the tigers from your sector of the watering hole. In fact, they’ve been taking other sectors of the watering hole!”\n' +
                '\n' +
                'Hugo the Owl added angry hoots to Councillor Harriet’s words. “They’ve even taken the camels’ sector! The camels! Do you know how much water they need? This is not awesome at all.”\n' +
                '\n' +
                '“And they’re our neighbours!” cried General Humpty the llama. “I fear we’re next!”'
              },
              {
                id: 5,
                paraUp: [3, 2, 0, 0, 16, 3],
                paraAnimation: [1, 0, 1],
                paragraph: '“Be that as it may, we managed to avoid casualties on all sides,” said King Connor. “We’ve garnered a moral victory.”\n' +
                '\n' +
                '“Hah!” trumpeted Eric the Grey. “A moral victory? Easy for you to say – more like an oral victory. We elephants have suffered for five years since we imposed sanctions on those oversized black-and-orange cats. A strong tiger nation would have stood between the rat and elephant territories. With them weakened by these sanctions, we’ve been hit by wave after wave of rat immigrants. Not only does this put a strain on our economy” – he lowered his voice to an embarrassed whisper – “we’re pretty frightened of those tiny rodents.”'
              },
              {
                id: 6,
                paraUp: [3, 2, 8, 1, 16, 3],
                paraAnimation: [0, 1, 1],
                paragraph: 'Councillor Richard of the gazelles remained optimistic – a rarity in the A.P.A. “I understand that it has been a difficult five years for many of us. But if we stay the course, sooner or later, the tigers will surely cede the portions of the watering hole that do not belong to them.” \n' +
                '\n' +
                'Eric the Grey, however, was not convinced. “That’s easy to say if you were in no way affected by these sanctions. I call for a vote to lift these sanctions that have not only increased tiger aggression, they have served to weaken some of our economies. I vote yes to lifting the sanctions.”\n' +
                '\n' +
                '“Then I vote no,” said Councillor Richard, lifting his head proudly. “I believe that the suffering many of us are enduring will soon come to an end, but we must achieve it through peaceful means.”',
                soundEffect: require(`@/assets/audio/sanctions.mp3`)
              }
            ]
          },
          {
            id: 1,
            lineup: [9, 1, 6, 1, 7, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            event: 'As the votes came furiously, each member of the Alliance steadfast in their opinions of the sanctions, Skynnard Laggard was getting increasingly alarmed.'
          },
          {
            id: 2,
            name: 'Representative Skynnard',
            isActive: 'activeOne',
            lineup: [9, 1, 6, 1, 7, 1, 3, 1],
            storyAnimations: [1, 0, 0, 0],
            speech: 'This is too huge a decision for me to make right now! I need more time to mull this over.'
          },
          {
            id: 3,
            name: 'Eric the Grey',
            isActive: 'activeOne activeFour',
            lineup: [9, 1, 6, 1, 7, 1, 3, 2],
            storyAnimations: [0, 0, 0, 2],
            speech: 'We don’t have time for that! Every day, another elephant slips into poverty because of these cursed sanctions! If you don’t vote now, you forfeit your vote.',
            event: 'Eric the Grey trumpeted angrily.'
          },
          {
            id: 4,
            name: 'Representative Skynnard',
            isActive: 'activeOne activeFour',
            lineup: [9, 3, 6, 1, 7, 1, 3, 2],
            storyAnimations: [3, 0, 0, 0],
            speech: 'Skynnard Laggard looked positively shocked at the elephant’s outburst. Meekly, he said, "Then I abstain."',
            event: 'Meekly, he said.'
          },
          {
            id: 5,
            isActive: 'activeOne activeFour',
            lineup: [9, 1, 6, 1, 7, 1, 3, 1],
            storyAnimations: [1, 0, 0, 1],
            event: 'All eyes then turned to King Connor.'
          },
          {
            id: 6,
            name: 'General Humpty',
            isActive: 'activeTwo',
            lineup: [16, 3, 6, 1, 7, 1, 3, 1],
            storyAnimations: [14, 0, 0, 0],
            speech: 'It’s down to you yet again, young King, to break this deadlock.',
            event: 'Said General Humpty.'
          },
          {
            id: 7,
            name: 'Eric the Grey',
            isActive: 'activeTwo activeFour',
            lineup: [16, 3, 6, 1, 7, 1, 3, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'Will you vote to lift the sanctions against the tigers and bring prosperity back to Terrafauna?',
            event: 'Asked Eric the Grey.'
          },
          {
            id: 8,
            name: 'Princess Melanie',
            isActive: 'activeTwo activeThree activeFourR',
            lineup: [16, 3, 6, 1, 7, 1, 3, 1],
            storyAnimations: [0, 0, 0, 1],
            speech: 'Or will you continue to punish the tigers with sanctions for taking from the apes?',
            event: 'Asked Princess Melanie.'
          }
        ]
      }
    }
  }
</script>
