<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-two-one',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/guerilla-tactics.jpg',
            backgroundTwo: 'background/guerilla-tactics.jpg',
            storyBackground: 'story-background/guerilla-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.2.2.1: GUERILLA TACTICS',
            paragraphs: [
              {
                id: 1,
                paraUp: [14, 1, 1, 1, 0, 1],
                paraAnimation: [1, 1, 1],
                paragraph: 'Nights in Terrafauna were always beautiful. The moon would dominate the sky, a pocked disc that glowed almost aureate. Accompanying the moon on its journey across that otherwise inky blanket above were a billion brilliant stars.\n' +
                '\n' +
                '“Good,” thought Prince Connor, bringing his gaze from the heavens above, to the vast plains before him. “May it light up our handiwork.” He signalled to Lance and Major Pockets. The latter signalled to the ape soldiers behind him, and stealthily, the force of twenty apes descended from the Royal Tree, and traversed westwards across the plains. They moved from bush to bush as subtle tremors in the shadows, as much denizens of the plains as creatures of the night. Major Pockets then made a fist and raised it. The apes stopped in their tracks and quickly took cover behind the bush or tree closest to them.'
              },
              {
                id: 2,
                paraUp: [14, 1, 1, 1, 0, 1],
                paraAnimation: [0, 0, 0],
                paragraph: 'For a while, there was utter silence. When nothing stirred, Prince Connor crept to the tree Major Pockets was hiding behind. Pockets’ gaze was trained to the North, where something was steadily interrupting the stillness of the plains.\n' +
                '\n' +
                '“There,” whispered Major Pockets, pointing.\n' +
                '\n' +
                'Prince Connor had to strain his eyes, but sure enough, he spotted the tiger caravan about two hundred metres from them. It was a pack of about thirty workers with an accompaniment of ten armed guards. They seemed to be carrying supplies and weapons for the tiger soldiers stationed at the watering hole by the Great Trees. “I see them,” he told the commanding officer of the ape army.'
              },
              {
                id: 3,
                animateLeft: 'animated fadeInUp',
                animateCenter: 'animated fadeInUp',
                animateRight: 'animated fadeInUp',
                paraUp: [14, 1, 1, 1, 0, 1],
                paraAnimation: [11, 11, 11],
                paragraph: 'Bogged down by the weight of their cargo, the tigers moved slowly along the only major pass that connected the tigers’ territories to the watering hole, and this made Prince Connor smile.\n' +
                '\n' +
                '“They’ll be passing the Road Most Travelled,” remarked Prince Connor. The Road Most Travelled was a half-a-metre depression in the ground that stretched for about fifty metres in length. It was named such because the road appeared to be sagging under the weight of supporting frequent animal travel. The Road Most Travelled was also flanked by thick overgrowth, and the apes quickly took their positions behind these bushes before they could be spotted by the tiger convoy.',
                soundEffect: require(`@/assets/audio/leaves.mp3`)
              },
              {
                id: 4,
                paraUp: [1, 3, 14, 1, 0, 2],
                paraAnimation: [12, 12, 12],
                paragraph: 'For nearly ten minutes, the apes waited, their hearts beating the cadences of their fear and courage in equal measure. Most of them had never seen combat, but none of them had ever seen their corner of the watering hole occupied by tigers.\n' +
                '\n' +
                'Then, they heard the sound of paw-steps growing steadily louder from the tiger caravan.\n' +
                '\n' +
                '“On my mark,” Prince Connor whispered to Major Pockets, who passed down the message to their subordinates. When the caravan was audibly next to them, Prince Connor shouted, “Now!”\n' +
                '\n' +
                'The apes erupted from their hiding places, and swiftly drove their spears into the caravan guards, who were too shocked to react. Lance was about to drive his into one of the caravan workers, but Prince Connor swiftly stopped him, saying, “Only the armed soldiers, Lance. Never the innocent.”'
              },
              {
                id: 5,
                paraUp: [1, 1, 14, 1, 0, 2],
                paraAnimation: [1, 0, 0],
                paragraph: 'Triumphant, the apes confiscated the contents of the caravan, but allowed the tiger workers to go home.\n' +
                '\n' +
                'They continued these attacks – ambushing unsuspecting caravans and patrols, using their knowledge and familiarity of the plains and their complete ease with trees to gain the upper hand over their striped nemeses. \n' +
                '\n' +
                'By the time Queen Cayenne had amassed her army at the border of the plains, they were an understocked, depleted force. And when they brandished their claws and fangs, the ape army that met them at the border was not afraid.'
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
