<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-one',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            title: '1.2.1: DIPLOMACY',
            background: 'background/diplomacy.jpg',
            storyBackground: 'story-background/diplomacy-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            paragraphs: [
              {
                id: 2,
                paraUp: [15, 1, 0, 0, 0, 3],
                paraAnimation: [1, 0, 1],
                paragraph: 'The first thing Queen Cayenne saw was the Royal Gorilla Guards. The great brutes were heavily armoured, heavily armed and wore the kind of facial expressions that could melt steel. But of course, she was expecting them. It was why her own Royal Elite Guards were flanking her, ready to kill or be killed for her. Inside, she hoped it did not have to come to that.\n' +
                '\n' +
                'Soon, the formation of Gorilla Guards was close enough to reveal who they were guarding – the soon-to-be-King Connor and his team of advisors. They stopped about five metres away from Queen Cayenne and her Royal Elite Guard. It was close enough to converse, and far enough to give them time to react to any sudden attacks.\n' +
                '\n' +
                'Prince Connor proved that he was keen to meet strength with strength, and began proceedings, not allowing Queen Cayenne to have the first words. He said, “Your tigers are in our sector of the watering hole. I’m here only to hear a really good excuse, or a promise that you will leave it immediately.”'
              },
              {
                id: 3,
                paraUp: [15, 4, 0, 0, 0, 2],
                paraAnimation: [1, 0, 1],
                paragraph: '“Ah brave Prince,” said Queen Cayenne lazily, “not even coronated yet and here you are speaking for your people. I’ve been ruling for six years, boy, and if there’s anything I’ve learnt, it’s that when you want something, you take it. You take it with force if you have to, but you do it for the good of your subjects.”\n' +
                '\n' +
                '“And to the detriment of apes,” Prince Connor pointed out. “You have taken over our sector of the watering—”\n' +
                '\n' +
                '“Oh I am not done with my taking, boy,” roared Queen Cayenne, taking a step towards the apes. To her left and right, her Royal Elite Guards, too, took a step forward. “I demand that ownership of the Life Tree be transferred to tiger control.”',
                soundEffect: require(`@/assets/audio/tiger.mp3`)
              },
              {
                id: 4,
                paraUp: [15, 5, 0, 0, 0, 2],
                paraAnimation: [1, 0, 0],
                paragraph: '“I don’t want violence,” said Prince Connor quickly, almost betraying his discomfort.\n' +
                '\n' +
                '“Neither do I,” Queen Cayenne’s voice had returned to a drawl now. “Unfortunately for you, boy, I have a much larger, much stronger army than yours. But I don’t want to give you a first-hand lesson in tiger supremacy. All I want is a place to protect my tigers from the sun. The summers have been getting warmer. We need a sector of the watering hole that is close to shade, and of course, the bounty of the Life Tree.”'
              }
            ]
          },
          {
            id: 1,
            name: 'Prince Connor',
            isActive: 'activeOne',
            lineup: [0, 5, 0, 0, 0, 0, 15, 1],
            storyAnimations: [14, 0, 0, 13],
            speech: 'You can’t possibly... that is our source of—',
            event: 'Prince Connor was aghast.'
          },
          {
            id: 2,
            name: 'Queen Cayenne',
            isActive: 'activeOne activeFour',
            lineup: [0, 5, 0, 0, 0, 0, 15, 4],
            storyAnimations: [0, 0, 0, 1],
            speech: 'Well, if you’d rather my tigers eat apes than the fruit of the Life Tree...',
            event: 'Languidly, Queen Cayenne interrupted him.'
          },
          {
            id: 3,
            isActive: 'activeOneR',
            lineup: [0, 3, 0, 0, 1, 1, 2, 1],
            storyAnimations: [1, 0, 13, 13],
            event: 'Prince Connor turned his back to the tiger queen, and faced his advisors.'
          },
          {
            id: 4,
            name: 'Lance',
            isActive: 'activeOne activeThree',
            lineup: [0, 3, 0, 0, 1, 2, 2, 1],
            storyAnimations: [0, 0, 3, 0],
            speech: 'Let’s attack them now!',
            event: 'Cried Lance.'
          },
          {
            id: 5,
            isActive: 'activeOne activeThree',
            lineup: [0, 3, 0, 0, 1, 2, 2, 1],
            storyAnimations: [0, 0, 0, 0],
            event: 'But Prince Connor shook his head.'
          },
          {
            id: 5,
            name: 'Prince Connor',
            isActive: 'activeOne activeThree',
            lineup: [0, 3, 0, 0, 1, 2, 2, 1],
            storyAnimations: [0, 0, 0, 0],
            speech: 'She has a point. Their army is much stronger than ours.'
          },
          {
            id: 6,
            name: 'Milo',
            isActive: 'activeOne activeFour activeThreeR',
            lineup: [0, 3, 0, 0, 1, 1, 2, 1],
            storyAnimations: [0, 0, 1, 0],
            speech: 'We came here with diplomacy in mind.',
            event: 'Milo reminded them.'
          },
          {
            id: 7,
            name: 'Lance',
            isActive: 'activeThree activeFourR activeOneR',
            lineup: [0, 3, 0, 0, 1, 3, 2, 1],
            storyAnimations: [0, 0, 3, 1],
            speech: 'And what, give them exactly what they want?',
            event: 'Lance was beside himself with disbelief.'
          },
          {
            id: 8,
            name: 'Milo',
            isActive: 'activeFour activeThreeR',
            lineup: [0, 3, 0, 0, 1, 3, 2, 2],
            storyAnimations: [0, 0, 1, 2],
            speech: 'Perhaps. It might be the best course if we want to avoid bloodshed. We can appease them.',
            event: 'Milo, however, nodded in agreement.'
          },
          {
            id: 9,
            name: 'Milo',
            isActive: 'activeFour',
            lineup: [0, 3, 0, 0, 1, 3, 2, 2],
            storyAnimations: [0, 0, 0, 0],
            speech: 'For now.',
            event: 'Milo added, seeing the look that Lance shot him.'
          },
          {
            id: 10,
            name: 'Lance',
            isActive: 'activeThree activeFourR',
            lineup: [0, 3, 0, 0, 1, 2, 2, 2],
            storyAnimations: [0, 0, 2, 0],
            speech: 'You’re insane! You’re asking us to be cowherds!',
            event: 'Lance cried.'
          },
          {
            id: 11,
            name: 'Milo',
            isActive: 'activeFour activeThreeR',
            lineup: [0, 3, 0, 0, 1, 2, 2, 3],
            storyAnimations: [0, 0, 0, 1],
            speech: 'The word you’re looking for, Lance, is cowards.',
            event: 'Said Milo.'
          },
          {
            id: 12,
            name: 'Milo',
            isActive: 'activeFour',
            lineup: [0, 3, 0, 0, 1, 2, 2, 3],
            storyAnimations: [0, 0, 0, 0],
            speech: 'At least we don’t pay with blood.',
            event: 'The wizened chimpanzee added to Prince Connor.'
          },
          {
            id: 13,
            name: 'Lance',
            isActive: 'activeThree activeFourR',
            lineup: [0, 3, 0, 0, 1, 2, 2, 3],
            storyAnimations: [0, 0, 0, 1],
            speech: 'Prince Connor, let’s try negotiating for a better deal here! We’ve lost our watering hole, and now we’re going to lose the Life Tree too? What will we be left with?',
            event: 'Lance, too, began addressing the Prince directly.'
          },
          {
            id: 14,
            name: 'Milo',
            isActive: 'activeFour activeThreeR',
            lineup: [0, 3, 0, 0, 1, 2, 2, 3],
            storyAnimations: [0, 0, 1, 0],
            speech: 'Our lives!',
            event: 'Milo replied.'
          },
          {
            id: 15,
            isActive: 'activeOne activeFour',
            lineup: [0, 6, 0, 0, 0, 0, 15, 1],
            storyAnimations: [3, 0, 0, 13],
            event: 'Behind them, Queen Cayenne drawled, her voice like a sheathed knife.'
          },
          {
            id: 16,
            name: 'Queen Cayenne',
            isActive: 'activeOne activeFour',
            lineup: [0, 6, 0, 0, 0, 0, 15, 5],
            storyAnimations: [0, 0, 0, 2],
            speech: 'You apes may not know this, but I actually am a busy tigress. So what’s it going to be, Prince Connor?'
          }
        ]
      }
    }
  }
</script>
<style>
</style>
