<template>
  <component-story :scripts="scripts"></component-story>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-two-one-two',
    components: { ComponentStory },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/better-deal.jpg',
            storyBackground: 'story-background/better-deal-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.2.1.2: TRY TO WORK OUT A BETTER DEAL',
            paragraphs: [
              {
                id: 1,
                paraUp: [15, 4, 0, 0, 0, 1],
                paraAnimation: [1, 0, 1],
                paragraph: 'Prince Connor gave his advisors a determined smile. He nodded at Lance, showing that he acknowledged his advisor’s sentiments. With a swift turn, he faced Queen Cayenne, and approached her. “Straight to business, then,” he said to the Tiger Queen.\n' +
                '\n' +
                'Queen Cayenne pretended to check a perfectly sharpened claw. “As mentioned, I would like the Life Tree—”\n' +
                '\n' +
                '“Why?” It was a simple question, but an unexpected one. For a fleeting moment, there was a look of trepidation on Queen Cayenne’s otherwise unreadable face.\n' +
                '\n' +
                '“I’ll be asking the questions here,” said Queen Cayenne imperiously.'
              },
              {
                id: 2,
                paraUp: [15, 5, 0, 0, 0, 5],
                paraAnimation: [1, 0, 1],
                paragraph: '“Of course, my Queen,” Prince Connor replied quickly, bowing. “But I implore you to enlighten my lesser mind. You are beautiful and far wiser than me, after all.”\n' +
                '\n' +
                'The Queen eyed the ape suspiciously, but eventually eased into a smile. “If you must know, my great nation is enjoying rapid population growth. You apes have access to resources that we need. It’s really simple—”\n' +
                '\n' +
                '“Then let us help,” Prince Connor interjected, his voice gentle and his expression sympathetic.\n' +
                '\n' +
                '“You can help by evacuating the Life Tree,” Queen Cayenne said, in a manner that would end most dialogues.'
              },
              {
                id: 3,
                paraUp: [15, 4, 0, 0, 0, 5],
                paraAnimation: [1, 0, 0],
                paragraph: 'Prince Connor, however, had other ideas. “Your Majesty, you are indeed wise. But might I point out that the Life Tree is a tall, mighty tree, and you tigers are not accursed as we apes. We are beholden to the trees, doomed to climb instead of roaming and ruling Terrafauna the way tigers were born to. We are better at working the trees – let us do it for you. How about we sell the fruits of our labour to you – at a nearly negligible stipend, if I may add. That way, you get to feed your gloriously increasing population, while we get to do what we do best – work the trees for you.”\n' +
                '\n' +
                'For a tense moment, Prince Connor was afraid he might have offended the tiger queen. Then she laughed and pawed the ground before her in delight. “You are simply a barrel of monkeys, aren’t you?”\n' +
                '\n' +
                'Prince Connor smiled – a smile that did not reach his eyes. “I see myself more as a barrel of solutions. There’s quite a marked difference between apes and monkeys.”'
              },
              {
                id: 4,
                paraUp: [15, 1, 0, 0, 0, 1],
                paraAnimation: [1, 0, 1],
                paragraph: 'Queen Cayenne brushed his last sentence off. “That’s exactly what I need from you, boy. Solutions.”\n' +
                '\n' +
                '“I have another solution for our…shall we say…water predicament,” Prince Connor added.\n' +
                '\n' +
                'Queen Cayenne afforded him a grin. “Tell me.”\n' +
                '\n' +
                '“The journey from your territories to this part of the watering hole is a long and arduous one. What if, in exchange for your tigers leaving, we send water to your populace in weekly shipments?”\n' +
                '\n' +
                'Queen Cayenne responded with a rare display of enthusiasm. “You have a deal.”\n' +
                '\n' +
                'Prince Connor stuck out his hand. “To the start of a positive relationship.”\n' +
                '\n' +
                'The tiger queen took the ape’s hand and shook it. She then rejoined her guards, and they left the Great Trees.'
              },
              {
                id: 6,
                paraUp: [0, 1, 1, 2, 2, 2],
                paraAnimation: [1, 1, 1],
                paragraph: 'Prince Connor turned towards the Great Trees. His fellow apes had gathered, lining the branches of the Great Trees. They looked concerned about the exchange that they had just overheard.\n' +
                '\n' +
                '“Are we working for the tigers now?” shouted one of them.\n' +
                '\n' +
                'Prince Connor clenched his fists. “No,” he declared. “We are working for our lives. This is a poor arrangement for us, yes, but it is one that is necessary, so we do not lose any of our own in needless conflict.”\n' +
                '\n' +
                '“You’d rather us be slaves than fight for what is ours?” retorted Lance. The apes murmured and nodded in agreement with the Prince’s advisor.'
              },
              {
                id: 7,
                paraUp: [0, 2, 1, 1, 2, 1],
                paraAnimation: [2, 1, 1],
                paragraph: 'Prince Connor raised a clenched fist. “I am asking all of you to live today, so we can fight tomorrow!”\n' +
                '\n' +
                'They roared, and they cheered, and across the plains, the cry of the apes could be heard.',
                soundEffect: require(`@/assets/audio/monkeys.mp3`)
              }
            ]
          }
        ]
      }
    }
  }
</script>

<style>
</style>
