<template>
    <component-story :scripts="scripts"/>
</template>

<script>
  import ComponentStory from './ComponentStory'

  export default {
    name: 'story-one-version-one-one-one',
    components: {
      ComponentStory
    },
    data () {
      return {
        scripts: [
          {
            id: 0,
            background: 'background/water-celebration.jpg',
            backgroundTwo: 'background/lifting-sanctions.jpg',
            storyBackground: 'story-background/tree-interior-chat-bg.jpg',
            backgroundMusic: require(`@/assets/audio/forest.mp3`),
            title: '1.1.1.1: LIFT THE SANCTIONS',
            paragraphs: [
              {
                id: 1,
                paraUp: [16, 1, 0, 0, 2, 7],
                paraAnimation: [1, 0, 1],
                paragraph: 'King Connor opened his eyes slowly. Groggily, he sat up. His sleeping branch was near the crown of the Royal Tree, and as such, the sunlight that reached him was fractured – warming his face and legs, but leaving his chest neglected in shadow.\n' +
                '\n' +
                ' As always, Milo greeted him as he descended the Royal Tree.\n' +
                '\n' +
                '“Good morning, sire!” When King Connor was next to him, Milo began descending the branches with his king.\n' +
                '\n' +
                '“Good morning, Milo. What news do you have?”\n' +
                '\n' +
                '“I am glad to report that today, I only have good news for you, Your Majesty.”\n' +
                '\n' +
                'King Connor stopped, and for the first time in a while, indulged himself with a smile. “Tell me.”'
              },
              {
                id: 2,
                animateCenter: 'animated flipInY',
                paraUp: [16, 3, 1, 4, 2, 7],
                paraAnimation: [0, 8, 0],
                paragraph: '“Trade is up thirty percent. Now that the tigers have rejoined Terrafauna\'s commerce, there has been a healthier outlook on trade – especially among the tigers’ major trading partners. And as a result, they’re also trading more with us.”\n' +
                '\n' +
                'They reached the level where most of King Connor’s advisors resided. At the far end, he could see Lance scowling at the two of them. When the two made eye contact, Lance quickly pretended to be deeply interested in a leaf. King Connor hoped that, through the events of the past five years, his friend had come to learn the value of diplomacy and peace. He made a mental note to speak to Lance later.\n' +
                '\n' +
                '“I also have the best news of all,” Milo said with a smile that bared his full array of teeth. “This morning, the tigers have ceded back to us half of the watering hole!”'
              },
              {
                id: 4,
                paraUp: [16, 1, 0, 0, 0, 0],
                paraAnimation: [2, 0, 0],
                paragraph: 'Sure enough, the apes who made their way to the ground were heading towards the watering hole. The young ones played in the water, while the adults watched nervously at the half still occupied by the tigers. King Connor’s smile returned only when he realised the tigers made no move against his subjects.\n' +
                '\n' +
                'King Connor too, made his way to the ground. Around him, his subjects gathered, growling their joy. He made his way towards the watering hole – slowly at first, and then gradually increasing speed, until finally he was sprinting into the water with abandon. For a moment, he forgot he was king, for in that moment, he was a free animal, partaking in a bath that cleansed him of the burden of the past five years.\n' +
                '\n' +
                'Then the moment passed, and he saw that his subjects were with him in the water, playing and frolicking. Some were drinking, and their no-longer-parched throats sang chatters of relief and glee.',
                soundEffect: require(`@/assets/audio/splash.mp3`)
              },
              {
                id: 5,
                paraUp: [16, 3, 0, 0, 2, 2],
                paraAnimation: [1, 0, 1],
                paragraph: 'King Connor made his way back to the Great Trees. Upon one of the middle branches of the Royal Tree stood Milo, his greying back turned away from the Watering Hole.\n' +
                '\n' +
                'Curious, King Connor walked towards his beloved advisor, wondering why the old chimpanzee would not join in their celebrations.\n' +
                '\n' +
                'When he was close enough, the king called out to Milo. The old chimpanzee barely turned to acknowledge his king. “Your Majesty, come look at this.”\n' +
                '\n' +
                'With a strong leap, King Connor jumped onto the same branch as Milo. With unparalleled agility and grace, he landed with a regal elegance, such that the branch hardly quivered as the king found his footing. King Connor then looked towards the plains. \n'
              },
              {
                id: 6,
                bgSwitch: true,
                paraUp: [16, 3, 0, 0, 2, 2],
                paraAnimation: [0, 0, 0],
                paragraph: 'He found what he saw terribly disturbing.\n' +
                '\n' +
                'A great stampede of rats, like a grey ocean of chittering rodents, was rushing towards the Great Trees. King Connor noted that they were not armed.\n' +
                '\n' +
                '“What are they doing?”\n' +
                '\n' +
                'Milo sighed, and he looked even more ancient. “I think the elephants had enough of sharing their gains with them and drove them out.”\n' +
                '\n' +
                '“But they have their own—” King Connor stopped himself. The rats had their own land but the tigers had forcefully taken it from them. He asked Milo, “Do we have space and resources for them?”',
                soundEffect: require(`@/assets/audio/rats.mp3`)
              },
              {
                id: 7,
                bgSwitch: true,
                paraUp: [16, 3, 0, 0, 2, 1],
                paraAnimation: [0, 0, 0],
                paragraph:
                '\n' +
                'Milo pondered this. “Yes, we do,” he said finally. \n' +
                '\n' +
                '“Then let them in,” commanded King Connor.\n' +
                '\n' +
                '“Throughout my time as king, I’ve sought diplomacy, peace and cooperation. I will continue to uphold that. The time may come where we might even have to live with the tigers. We will be the standard-bearers for a peaceful Terrafauna. We will be the ones who set the example.” The king smiled at his advisor. “Come, old friend,” he said, thinking of how he would break the news to his subjects. “We have a speech to write.”'
              }
            ]
          }
        ]
      }
    }
  }
</script>
