<template>
  <div id="app">
    <button class="button mute-button" :class="[ isMuted ? 'is-danger' : 'is-success' ]" @click="toggleMute">
      <span class="is-large">
        <i class="mdi" :class="[ isMuted ? 'mdi-volume-off' : 'mdi-volume-high' ]"></i>
      </span>
    </button>

    <div v-show="isLandscape">
      <transition enter-active-class="animated fadeIn">
        <router-view/>
      </transition>
    </div>

    <div class="hero is-fullheight rotate-screen"
         :style="{ backgroundImage: `url(${require(`@/assets/story-background/guerilla-chat-bg.jpg`)})` }"
         v-show="!isLandscape">
      <div class="column has-text-centered rotate-screen-text">
        <h1 class="content is-uppercase">Please adjust your screen size</h1>
      </div>
    </div>

    <div id="preload">
    </div>

    <audio id="sound-effect" ref="soundEffects"></audio>
    <audio id="story-sound-effect" ref="storySoundEffects"></audio>
    <audio id="background-music" :src="require(`@/assets/audio/forest.mp3`)" autoplay ref="bgMusic"></audio>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'app',
    computed: {
      ...mapState(['version', 'isLandscape', 'correctScreen', 'isMuted', 'characters', 'backgrounds'])
    },
    mounted () {
      this.invokeOrientationChange()

      window.addEventListener('resize', this.invokeOrientationChange)
      this.preload()
    },
    methods: {
      preload () {
        let preload = document.getElementById('preload')
        let a
        let i
        for (a = 0; a < this.characters.length; a++) {
          for (i = 0; i < this.characters[a].length; i++) {
            let img = new Image()
            img.src = this.characters[a][i]
            preload.appendChild(img)
          }
        }
        let b
        for (b = 0; b < this.backgrounds.length; b++) {
          let bg = new Image()
          bg.src = this.backgrounds[b]
          preload.appendChild(bg)
        }
      },
      invokeOrientationChange () {
        this.$store.commit('isLandscape', window.innerWidth > window.innerHeight && window.innerHeight > window.innerWidth / 3)
      },
      toggleMute () {
        this.$store.commit('toggleMute')

        const bgMusic = this.$refs.bgMusic
        const soundEffects = this.$refs.soundEffects
        const storySoundEffects = this.$refs.storySoundEffects

        storySoundEffects.muted = this.isMuted
        bgMusic.muted = this.isMuted
        soundEffects.muted = this.isMuted
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  @font-face {
    font-family: 'amatic sc bold';
    src: url("./assets/fonts/amatic-sc-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'amatic sc regular';
    src: url("./assets/fonts/amatic-sc-regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'indie flower';
    src: url("./assets/fonts/indie-flower.ttf") format('truetype');
  }

  @font-face {
    font-family: 'gill sans';
    src: url("./assets/fonts/gill-sans-std.otf") format('opentype');
  }

  $amatic-bold: 'amatic sc bold', sans-serif;
  $amatic-regular: 'amatic sc regular', sans-serif;
  $indie-flower: 'indie flower', sans-serif;
  $gill: 'gill sans', sans-serif;

  $red: rgba(151, 4, 12, 1);
  $black: rgba(28, 32, 34, 1);
  $yellow: rgba(240, 193, 67, 1);
  $blue: rgba(37, 71, 85, 1);
  $orange: rgba(178, 95, 26, 1);
  $lightblue: #bcc8cd;

  #preload {
    display: none;
  }

  html, body {
    background-color: #000;
  }

  section {
    min-height: 100vh;
    font-size: 1vw;
  }

  .mute-button {
    position: fixed;
    top: 1.5%;
    left: 1.5%;
    z-index: 999
  }

  .rotate-screen {
    background-image: url("./assets/story-background/guerilla-chat-bg.jpg");
    background-position: center;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-family: $amatic-bold;
        font-size: 4em;
        color: $yellow;
      }
    }
  }

  .section {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
  }

  .filter {
    background-color: rgba(37, 71, 85, 0.95);
    border: 1px solid transparent;
    height: 100%;
  }

  .filter-paragraph {
    background: linear-gradient(to bottom left, rgba(37, 71, 85, 0.2), rgba(37, 71, 85, 0.6));
  }

  /*BUTTONS STYLING */
  .diamond-blue {
    padding: 0;
    height: 5.5vw;
    width: 5.5vw;
    background-color: $blue;
    border: 1.5px solid $yellow;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

    span {
      transform: rotate(-135deg);
    }

    .button-blue {
      padding: 0;
      height: 4vw;
      width: 4vw;
      background-color: $blue;
      border: 1px solid $yellow;
      border-radius: 0;
      transform: rotate(90deg);
      color: $yellow;
      font-family: $amatic-bold;
      font-size: 2em;
    }
  }

  .diamond-blue, .button-blue {
    &:hover {
      background-color: $yellow;
      border-color: $blue;
      color: $blue;
    }
  }

  .button-yellow {
    background-color: $yellow;
    border: 1.5px solid rgba(28, 32, 34, 0.75);
    border-radius: 0;
    color: $black;
    font-family: $amatic-bold;
    font-size: 1em;
    padding: 0 5%;

    &:hover {
      background-color: rgba(28, 32, 34, 0.75);
      border: 1.5px solid $yellow;
      color: $yellow;
      cursor: pointer;
    }
  }

  .button-black {
    background-color: rgba(28, 32, 34, 0.66);
    border: 1px solid $yellow;
    color: $yellow;
    font-family: $amatic-bold;

    &:hover {
      background-color: $orange;
      border: 1px solid $yellow;
      color: $black;
    }

    &:focus {
      background-color: rgba(28, 32, 34, 0.66);
      border: 1px solid $yellow;
      color: $yellow;
    }
  }

  /*questions CSS */
  .question-page-one {
    position: relative;

    .question-page-one-buttons {
      position: absolute;
      display: grid;
      grid-template-columns: 50% 50%;
      margin: 0 auto;
      width: 100%;
      bottom: 15%;
      z-index: 1;

      .choice-one {
        margin: 0 7% 0 25%;
      }

      .choice-two {
        margin: 0 25% 0 7%;
      }

      .question-page-one-choice {
        padding: 3% 5%;
        width: 100%;
        height: 100%;
        font-size: 2em;
      }

      .question-page-one-button {
        position: absolute;
        width: 100%;
        bottom: -8vh;

        .diamond-blue {
          margin: 0 auto;
          height: 4vw;
          width: 4vw;
          border: 1px solid $yellow;

          .button-blue {
            padding: 0;
            height: 2.6vw;
            width: 2.6vw;
            font-size: 1.5em;
          }
        }
      }
    }

    .question-page-one-image {
      height: 100vh;
      position: relative;

      #banner {
        position: absolute;
        left: 0;
        bottom: 3%;
      }
      #image {
        margin-top: 5%;
        width: 35%;
        animation: questionMonkey 1.5s forwards;
      }
    }
  }

  @keyframes questionMonkey {
    0% {
      transform: translateY(100vh);
    }
    100% {
      transform: translateY(0);
    }
  }

  .selected {
    background-color: rgba(37, 71, 85, 0.75);
    border: 1px solid $yellow;
    color: $yellow;
  }

  .pre-question {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;

    .pre-question-title {
      padding: 1% 0;
      margin: 0 auto 5%;
      grid-column: 1/3;
      color: $yellow;
      font-family: $amatic-bold;
      font-size: 3.5em;
      border-bottom: 1px solid $orange;
    }
    .pre-question-image {
      height: 100vh;
      width: 100%;
    }

    .pre-question-event {
      grid-column: 2/3;
      margin-right: 2%;

      p {
        overflow: scroll;
        clip-path: polygon(5% 4%, 99% 6%, 99% 97%, 5% 96%, 5% 51%, 0 43%, 5% 32%);
        background-color: rgba(28, 32, 34, 0.85);
        height: 45vh;
        color: $yellow;
        padding: 10% 8% 0 13%;
        font-family: $indie-flower;
        font-size: 1.7em;
        line-height: 125%;

        &::-webkit-scrollbar {
          width: 1vw;
        }

        &::-webkit-scrollbar-thumb {
          background: $yellow;
        }

        &::-webkit-scrollbar-corner {
          color: $yellow;
        }
      }

      .diamond-blue {
        margin: 7% 0 0 50%;
      }
    }
  }

  .question {
    h1 {
      color: $yellow;
      font-family: $amatic-bold;
      font-size: 2.5em;
      border-bottom: 1px solid $orange;
    }

    .question-text {
      padding: 0 10% 3%;

      .question-bold {
        font-size: 2.25em;
        font-weight: bold;
      }

      h2 {
        color: $yellow;
        font-family: $indie-flower;
        font-size: 2em;
        line-height: 120%;
      }
    }

    .question-buttons {
      display: grid;
      padding: 0 5%;
      min-height: 45vh;

      .question-button {
        height: 100%;
        font-size: 1.5em;
        line-height: 130%;
        font-family: $indie-flower;
        padding: 2% 5% 2%;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .diamond-blue {
      margin: 3% auto 0;
    }
  }

  .selectedBox {
    background-color: rgba(240, 193, 67, 0.86);
    color: $black;
    border: 1px solid $black;
  }

  .feedback {
    .feedback-title {

      h1 {
        font-family: $amatic-bold;
        font-weight: bold;
        font-size: 2.5em;
        color: $yellow;
        border-bottom: 3px solid $orange;
        margin: 0 auto -1%;
      }
    }

    .reaction {
      color: $lightblue;
      font-family: $indie-flower;
      font-size: 1.6em;
      line-height: 100%;
      margin-top: 3%;
      padding: 0 15%;
      white-space: pre-line;
    }

    .feedback-box {
      margin: 1.5% 10%;
      min-height: 40vh;

      h1 {
        font-family: $indie-flower;
        font-weight: bold;
        font-size: 2em;
        text-decoration: underline;
        color: $yellow;
      }

      p {
        white-space: pre-line;
        font-family: $indie-flower;
        margin: 0 3%;
        font-size: 1.5em;
        color: $yellow;
      }

      &::-webkit-scrollbar {
        width: 1vw;
      }

      &::-webkit-scrollbar-thumb {
        background: $yellow;
      }

      &::-webkit-scrollbar-corner {
        color: $yellow;
      }
    }

    .diamond-blue {
      margin: 0 auto;
    }
  }

  .underline {
    text-decoration: underline;
  }
</style>
